<main>
	<div class="invite-friend-info-wrapper">
		<div class="info-popup sweet-modal-overlay">
			<div class="sweet-modal">
				<div class="sweet-box-actions">
					<div class="sweet-action-close"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
							viewBox="0 0 24 24">
							<path
								d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
								fill="#292c34"></path>
						</svg></div>
				</div>
				<div class="sweet-content">
					<div class="">
						<section class="info-content">
							<div class="info-img-block">
								<img src="../../../assets/images/imgInfo.png" alt="How to benefit with our Invite-a-Friend program:">
							</div>
							<div class="info-inner">
								<h2 class="heading info-title">How to benefit with our
									Invite-a-Friend program:</h2>
								<ul class="info-list list">
									<li class="list-item">
										<div class="list-counter">
											1
										</div>
										<div class="list-content">
											<h3 class="heading list-title">Make any
												deposit</h3>
											<div class="list-text">When the money is
												in your account, come back here to find your unique invitation link.
											</div>
										</div>
									</li>
									<li class="list-item">
										<div class="list-counter">
											2
										</div>
										<div class="list-content">
											<h3 class="heading list-title">Share the
												link with friends</h3>
											<div class="list-text">If your friends
												register with this link, they get a one-time 100% bonus on their
												deposit.</div>
										</div>
									</li>
									<li class="list-item">
										<div class="list-counter">
											3
										</div>
										<div class="list-content">
											<h3 class="heading list-title">Enjoy
												payouts for your friends' trades</h3>
											<div class="list-text">Every lot they
												trade now brings you 1 USD. We pay out from 5 USD every day!</div>
										</div>
									</li>
								</ul>
								<div class="info-btn-wrapper">
									<a class="info-btn btn btn-blue" href="#">
										Start with a deposit
										<!---->
									</a>
								</div>
							</div>
						</section>
					</div>
				</div>
				<!---->
			</div>
		</div>
	</div>
</main>