<div class="page-overlay-wrapper" *ngIf=showSpinner>
  <div class="spinner-div">
    <mat-spinner></mat-spinner>
  </div>
</div>
<main>
  <!-- live chat -->
  <app-chat-box></app-chat-box>
  <!-- deposit history -->

  <section class="login deposit pb-3">
    <div class="container">
      <div class="row align-items-center main-box justify-content-center w-100 mx-0">
        <div class="col-xl-12 col-md-12 col-lg-12 px-0">
          <div class="content-wrapper"></div>
          <h1 class="heading h2">Your deposits history</h1>
          <div class="infotext">
            This is the list of your deposit requests. You can view details, create new, or cancel your deposit request
            from here.
          </div>
          <div class="filters-block">
            <div class="filters">
              <form>
                <table class="filters-grid table" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td>
                        <div class="d-flex align-items-center">
                          <label for="status">Status</label>
                          <div class="form-element-select-block" style="width: 150px">
                            <mat-select [(value)]="selStatus" name="status" id="status" class="form-element-unit"
                              placeholder="Please select" (selectionChange)="selectedStatus($event.value)">
                              <mat-option value="AnyStatus">Any status</mat-option>
                              <mat-option value="Pending">Only pending</mat-option>
                              <mat-option value="Complete">Only complete</mat-option>
                              <mat-option value="Rejected">Only rejected</mat-option>
                              <mat-option value="Failed">Only canceled</mat-option>
                            </mat-select>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex align-items-center">
                          <label for="period">Timeframe</label>
                          <div class="form-element-select-block" style="width: 150px">
                            <mat-select [(value)]="selectedTimeFrame" name="period" id="period"
                              class="form-element-unit" placeholder="Please select"
                              (selectionChange)="onChangeInterval($event.value)">
                              <mat-option value="AllTime">All time</mat-option>
                              <mat-option value="current_month">This month</mat-option>
                              <mat-option value="previous_month">Previous month</mat-option>
                              <mat-option value="current_year">This year</mat-option>
                              <mat-option value="previous_year">Previous year</mat-option>
                            </mat-select>
                          </div>
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <div class="d-flex align-items-center">
                          <label for="account">Account</label>
                          <div class="form-element-select-block" style="width: 150px">
                            <mat-select [(value)]="selectedAnyAccount" name="account" id="account"
                              class="form-element-unit" placeholder="Please select"
                              (selectionChange)="selectedAccount($event.value)">
                              <mat-option value="AnyAccount">Any account</mat-option>
                              <mat-option *ngFor="let item of userAccount" value="{{item?.id}}">{{item?.account_id}}
                              </mat-option>
                            </mat-select>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="row">
                          <button type="submit" name="filter" id="filter" class="btn btn-blue" (click)="applyFilter()">
                            Apply filter
                          </button>
                          <button *ngIf="isResetFilter" type=" submit" id="resetfilter" class="btn btn-secondary ms-2"
                            (click)="resetFilter()">
                            Reset filter
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </form>
            </div>
          </div>
          <div class="account-table">
            <!-- <table class="table simple-table table-striped">
                <thead>
                  <tr>
                    <th class="text-left">Request ID</th>
                    <th class="text-left">Status</th>
                    <th class="text-left">Account</th>
                    <th class="text-left">Amount</th>
                    <th class="text-left">Details</th>
                    <th class="text-left">Created</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of dataSource">
                    <td>{{item?.request_id}}</td>
                    <td style="color: #00c94c;">{{item?.status}}</td>
                    <td>{{item?.account_information?.account_id}}</td>
                    <td>{{item?.amount}}</td>
                    <td>{{item?.card_details}}</td>
                    <td>{{item?.created_at}}</td>
                    <td><a href="#">view</a></td>
                  </tr>
                  <tr>
                    <td *ngIf="dataSource.length <= 0" colspan="7" class="noRecords">
                      No records found
                    </td>
                  </tr>
                </tbody>
              </table> -->
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" class="table">

                <ng-container matColumnDef="Request_ID">
                  <th mat-header-cell *matHeaderCellDef> Request ID </th>
                  <td mat-cell *matCellDef="let element" style=" width:90px;text-align:center"> {{element.request_id}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="Status">
                  <th mat-header-cell *matHeaderCellDef> Status </th>
                  <td mat-cell *matCellDef="let element" style="color: #00c94c;"> {{element.status}} </td>
                </ng-container>

                <ng-container matColumnDef="Account">
                  <th mat-header-cell *matHeaderCellDef> Account </th>
                  <td mat-cell *matCellDef="let element"> {{element.account_information?.account_id}} </td>
                </ng-container>

                <ng-container matColumnDef="Amount">
                  <th mat-header-cell *matHeaderCellDef> Amount </th>
                  <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                </ng-container>

                <ng-container matColumnDef="Details">
                  <th mat-header-cell *matHeaderCellDef> Details </th>
                  <td mat-cell *matCellDef="let element"> {{element.card_details}} </td>
                </ng-container>

                <ng-container matColumnDef="Created">
                  <th mat-header-cell *matHeaderCellDef> Created </th>
                  <td mat-cell *matCellDef="let element"> {{element.created_at}} </td>
                </ng-container>

                <ng-container matColumnDef="view">
                  <th mat-header-cell *matHeaderCellDef> </th>
                  <td mat-cell *matCellDef="let element"> <a href="#">view</a> </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="sizeOptions">
              </mat-paginator>

            </div>


          </div>
        </div>
      </div>
    </div>

  </section>
</main>