<div class="container mt-3">
    <div class="row align-items-start footer">
        <div class="col-sm-3">
            <p><strong>Service</strong></p>
            <a href="#">Contents</a>
            <a href="#">FAQ</a>
            <a href="#">Plaform tutorials: videos</a>
            <a href="#">Economic calender</a>
        </div>
        <div class="col-sm-3">
            <p><strong>Offers</strong></p>
            <a href="#">50% bonus</a>
            <a href="#">Contests</a>
            <a href="#">Copyrending</a>
        </div>
        <div class="col-sm-3">
            <p><strong>Legal information</strong></p>
            <a href="#">Risk disclosure</a>
            <a href="#">Privacy policy</a>
            <a href="#">Return policy</a>
            <p><img class="countryimage" src="../../../assets/images/countrylogo.png" alt=""> Language</p>

        </div>
        <div class="col-sm-3">
            <p><strong>Social</strong></p>
            <div class="icons">
            <a href="#"><i class="fa fa-facebook-f"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-twitter-square"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
            </div>
            <p>Personal Area in your phone</p>
            <a href="#"><img class="playstore" src="../../../assets/images//playstoreimage.png" alt=""></a>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-text-address mb-0">Registered address: 71-75 Shelton Street Covent Garden London,WC2H 9JQ United Kingdom</div>
        <div class="footer-text-address my-0">
            © 2022 MOBIATO CAPITALS LTD.
            <!-- © 2022 Mobi Markets Incorporated. Business reg. no. 19776 IBC 2011 -->
        </div>
        <p class="footer__text-block">
            <a href="#">
                support@mobifx.com
            </a>
        </p>
    </div>
</div>