<main>
    <!-- live chat -->
    <button class="live-chat-button" data-auto-event-category="UXclick" data-auto-event-action="Support click"
        data-auto-event-label="livechat">
        <span class="live-chat-button__label">Live chat support</span>
    </button>

    <section class="login dashboard pb-3">
        <div class="container">
            <div class="row align-items-center main-box justify-content-center w-100 mx-0">
                <div class="col-xl-12 col-md-12 col-lg-12 px-0">
                    <div class="account-box">
                        <header class="account-box-header">
                            <div class="account-box-title">
                                <div class="account-box-title-name">
                                    <h2 class="heading account-box-v1__heading _clear">Open new demo account</h2>
                                </div>
                                <p>To open a new demo account please carefully fill in the form below. A new account
                                    will be created for you and added to your Personal Area in less than 1 minute!
                                </p>
                            </div>
                        </header>
                    </div>
                    <div class="account-header">
                        <h2>Choose account and parameters</h2>
                        <div class="tooltip__ico-question"><img src="../../../assets/images/icon/question-mark.png"
                                class="img-fluid">
                        </div>
                    </div>
                    <div>
                        <div class="simple-card">
                            <div class="col-md-6">
                                <mat-card>
                                    <h3>MobiFX MT5</h3>
                                    <hr>
                                    <p><span>Spread from............0.6 pips</span></p>
                                    <p>Floating spread, markup</p>
                                    <p><span>Min deposit</span></p>
                                    <p>Favourable: $100</p>
                                    <p><span>Maxiumum leverage...........1:500 </span></p>
                                    <p>Margin call...........25%</p>
                                    <p>Stop out level.............15%</p>
                                    <p>No swaps</p>
                                    <p><span>No commissions </span></p>
                                    <p>Instruments</p>
                                    <p><span>80 Instruments </span></p>
                                </mat-card>
                            </div>
                            <div class="col-md-6">
                                <mat-card>
                                    <h3>MobiFX MT5</h3>
                                    <hr>
                                    <p><span>Spread from............0.6 pips</span></p>
                                    <p>Floating spread, markup</p>
                                    <p><span>Min deposit</span></p>
                                    <p>Favourable: $100</p>
                                    <p><span>Maxiumum leverage...........1:500 </span></p>
                                    <p>Margin call...........25%</p>
                                    <p>Stop out level.............15%</p>
                                    <p>No swaps</p>
                                    <p><span>No commissions </span></p>
                                    <p>Instruments</p>
                                    <p><span>80 Instruments </span></p>
                                </mat-card>
                            </div>
                        </div>

                    </div>
                    <div class="account-section">
                        <div class="row">
                            <div class="col-md-3 account-radio">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>Account type <img src="../../../assets/images/icon/question-mark.png"></p>
                                    </div>
                                    <div class="col-md-12 account-label">
                                        <div class="col-md-6 account-item-label">
                                            <label>Real</label>
                                            <mat-form-field>
                                                <input autocomplete="off"  matInput type="text">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6 account-item-label">
                                            <label>Demo</label>
                                            <mat-form-field>
                                                <input matInput autocomplete="off" type="text">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 account-radio">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>Currency <img src="../../../assets/images/icon/question-mark.png"></p>
                                    </div>
                                    <div class="col-md-12 account-label">
                                        <div class="col-md-6 account-item-label">
                                            <label>USD</label>
                                            <mat-form-field>
                                                <input autocomplete="off" matInput type="text">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6 account-item-label">
                                            <label>EUR</label>
                                            <mat-form-field>
                                                <input matInput autocomplete="off"  type="text">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 account-radio">
                                <p>Leverage <img src="../../../assets/images/icon/question-mark.png"></p>
                                <mat-form-field appearance="fill">
                                    <mat-select>
                                        <mat-option value="500">1:500</mat-option>
                                        <mat-option value="200">1:200</mat-option>
                                        <mat-option value="100">1:100</mat-option>
                                        <mat-option value="50">1:50</mat-option>
                                        <mat-option value="30">1:30</mat-option>
                                        <mat-option value="25">1:25</mat-option>
                                        <mat-option value="15">1:15</mat-option>
                                        <mat-option value="1">1:1</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3 account-radio">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>Fixed rate <img src="../../../assets/images/icon/question-mark.png"></p>
                                    </div>
                                    <div class="col-md-12 account-label">
                                        <div class="col-md-6 account-item-label">
                                            <label>On</label>
                                            <mat-form-field>
                                                <input autocomplete="off"  matInput type="text">
                                            </mat-form-field>
                                        </div>
                                        <div class="account-item-label"
                                            >
                                            <label>Off</label>
                                            <mat-form-field>
                                                <input matInput autocomplete="off" type="text">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 account-radio"><!--*ngIf="!isReal"-->
                                <p>Balanced <img src="../../../assets/images/icon/question-mark.png"></p>
                                <mat-form-field>
                                    <input matInput type="text">
                                </mat-form-field>
                            </div>
                            <div class="col-md-12 submit-btn">
                                <button mat-button color="primary">Open account</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>