.internal-trasfer {
	.main-box {padding: 0;}
	.heading {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		margin-bottom: 9px;
		font-family: Roboto, Helvetica, Arial, sans-serif;
		line-height: 1;
		color: #000;
		font-weight: 500;
		font-size: 20px;
	}
	.mt5-logo {
		font-size: 13px;
		font-weight: bold;
		color: #383d50;
		margin: 0 10px;
		span {
			color: #f38749;
		}
	}

	.btn {
		width: 46%;
		text-align: center;
		justify-content: center;
		max-width: 160px;
		padding-right: 5px;
		padding-left: 5px;
		height: 40px;
		border: none;
		border-radius: 4px;
		text-decoration: none;
		display: flex;
		align-items: center;
		padding: 0 24px;
		font-family: Roboto, Helvetica, Arial, sans-serif;
		font-size: 12px;
		font-weight: 500;
		cursor: pointer;
		transition-property: background-color, color;
		transition-duration: 0.2s;
		@media (min-width: 769px) {
			width: 120px;
			padding: 0 5px;
		}
	}
	.btn-blue {
		background: #c99c3b;
		border-color: #c99c3b;
		color: #fff;
		@media (min-width: 769px) {
			margin-left: 16px;
		}

		&:hover {
			background: #9d7622;
		}
	}
	.btn-blue:disabled, .btn-blue[disabled] {
		background-color: #e5e5e5;
		color: #ccc;
		border-color: #e5e5e5;
		cursor: not-allowed;
	}
	.internal-trasfer-wrapper {
		padding: 0 32px;
		padding-top: 32px;
		.infotext {
			margin-bottom: 20px;
			color: #999;
			line-height: 18px;
		}
	}
	.form-wrapper-inner {
		padding: 0 32px;
		padding-bottom: 20px;

		.fl-grid {
			box-sizing: border-box;
			margin: 0;
			padding: 8px;
			margin-left: -16px;
    		margin-right: -16px;
			border: none;

			.fl-grid-flex {
				display: flex;
				padding: 0;
				margin: 0;
				flex-flow: row wrap;

				.fl-grid-element {
					box-sizing: border-box;
					margin: 0;
					padding: 8px;
					width: 50%;

					.form-element-item {
						width: 100%;
						position: relative;
						max-width: 360px;

						.form-element-title,.form-element-post-title {
							color: #666;
							font-family: Roboto,Helvetica,Arial,sans-serif;
							font-size: 12px;
							font-weight: 500;
							line-height: 1.3;
							letter-spacing: .08px;
							margin: 0;
							margin-bottom: 4px;
							display: flex;
							align-items: center;
						}
						.form-element-post-title { margin-top: 4px};
						.form-element-input-block {
							position: relative;
    						display: inline-block;
    						width: 100%;
							.form-element-prefix {
								width: 36px;
								height: 20px;
								background: #f2f2f2;
								color: #666;
								font-size: 12px;
								font-weight: 700;
								letter-spacing: .07px;
								position: absolute;
								top: 50%;
								-webkit-transform: translateY(-50%);
								transform: translateY(-50%);
								left: 10px;
								display: flex;
								justify-content: center;
								align-items: center;
								border-radius: 2px;
							}
							.form-element-unit {
								box-sizing: border-box;
								margin: 0;
								padding: 10px 16px;
								padding-right: 24px;
								// padding-left: 57px;
								display: block;
								width: 100%;
								height: 40px;
								color: #050f2c;
								font-size: 14px;
								font-weight: 500;
								font-family: Roboto,Helvetica,Arial,sans-serif;
								line-height: 1.6;
								letter-spacing: .08px;
								transition-property: border-color,box-shadow;
								transition-duration: .2s;
								border: 1px solid #ccc;
    							border-radius: 4px;
								&.placeholder {
									letter-spacing: 3px;
								}
								&.padding-left {padding-left: 55px;}
							}
						}
					}
				}
			}
		}
		input {
			height: 30px;
			padding: 0 9px;
			background: #fff;
			border: #c6c6c6 solid 1px;
			border-radius: 0;
		}

		.form-element-item {
			width: 100%;
			position: relative;
			max-width: 360px;
			.form-element-multiselect {
				position: relative;

				.multiselect {
					box-sizing: content-box;
					display: block;
					position: relative;
					width: 100%;
					min-height: 40px;
					text-align: left;
					color: #35495e;
					// @media (min-width: 769px) {
					// 	width: 220px;
					// }
					.multiselect__select {
						position: absolute;
						width: 40px;
						height: 38px;
						right: 1px;
						top: 1px;
						padding: 4px 8px;
						text-align: center;
						transition: -webkit-transform 0.2s ease;
						transition: transform 0.2s ease;
						transition: transform 0.2s ease, -webkit-transform 0.2s ease;
						background-image: url("../../../assets/images/icon/down.svg");
						background-repeat: no-repeat;
						background-position: center;
						&::before {
							position: relative;
							right: 0;
							top: 65%;
							color: #999;
							margin-top: 4px;
							border-color: #999 transparent transparent;
							border-style: solid;
							border-width: 5px 5px 0;
							content: "";
							width: 24px;
							height: 24px;
							border: none;
						}
					}
					.multiselect-tags {
						padding-left: 16px;
						padding-top: 0;
						border: 1px solid #ccc;
						border-radius: 4px !important;
						display: flex;
						align-items: center;
						flex-grow: 1;
						min-height: 40px;
						padding: 0 40px 0 8px;
						border-radius: 5px;
						background: #fff;
						font-size: 14px;
					}
					.account-selector-list-item {
						display: flex;
						font-size: 14px;
						align-items: center;
					}
					.real-div {
						display: flex;
						align-items: center;
						justify-content: flex-start;
						div {
							background-color: #c99c3b;
							color: #fff;
							font-size: 10px;
							font-weight: 500;
							padding: 1px 10px;
							border-radius: 2px;
						}
					}
					.account-selector__balance {
						margin-left: 10px;
					}
					.mt5-logo {
						font-size: 13px;
						font-weight: bold;
						color: #383d50;
						margin: 0 10px;
						span {
							color: #f38749;
						}
					}
				}
			}
			.multiselect-content-wrapper {
				border-top: 1px solid #e8e8e8;
				width: 100%;

				.multiselect__element {
					display: block;
					padding: 0;

					.multiselect__option {
						color: #050f2c;
						font-size: 14px;
						font-weight: 500;
						font-family: Roboto, Helvetica, Arial, sans-serif;
						// padding-left: 16px;
						padding-top: 0;
						padding-bottom: 0;
						white-space: normal;
						padding-top: 4px;
						padding-bottom: 4px;
						display: flex;
						align-items: center;
					}
					.account-selector-list-item {
						display: flex;
						align-items: center;
						width: 100%;
						padding: 4px 32px 4px 16px;
						margin: 4px 0;
						min-height: 40px;
						&:hover {
							background: #cfe2fe;
						}
					}
					.account-selector-list-btn {
						display: block;
						width: 100%;
						background: #c99c3b;
						color: #fff !important;
						text-align: center;
						font-size: 12px;
						border-radius: 0 0 4px 4px;
						text-decoration: none;
						padding: 12px 0;
						border: none;
						box-shadow: none;
						font-weight: 500;
					}
				}
			}
		}
		.select-trade-platform-list__logo-image {
			width: 42px;
			height: 14px;
		}
		.select-trade-platform-list__icon {
			width: 22px;
			height: 14px;
			fill: #000;
		}
		@media (min-width: 768px) {
			.internal-transfer-row:nth-of-type(odd) {
				padding-right: 30px !important;
			}
			.internal-transfer-row:nth-of-type(even) {
				padding-left: 30px !important;
			}
			.internal-transfer-row.outgoing::before {
				content: "";
				position: absolute;
				line-height: 1;
				margin-top: 20px;
				margin-left: -40px;
				height: 40px;
				width: 20px;
				background-image: url(../../../assets/images/ico-equal.svg);
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
			}
		}
		&.footer{
			padding: 0 32px;
			padding-top: 24px;
    		padding-bottom: 24px;
    		border-top: 1px solid #d9d9d9;
    		background: #fbfbfb;
			.pin-code {
				position: relative;
				display: flex;
				align-items: flex-end;
				flex-wrap: wrap;
				.tooltip-hover {
					position: relative;
					display: flex;
					.tooltip-hover-content {
						position: absolute;
						bottom: 100%;
						left: 50%;
						-webkit-transform: translateX(-50%);
						transform: translateX(-50%);
						margin-bottom: 5px;
						z-index: 600;
						padding: 5px;
						width: 220px;
						border-radius: 4px;
						background-color: #fffcd0;
						box-shadow: 0 1px 5px 0 rgb(0 0 0 / 30%);
						color: #4a4a4a;
						text-transform: none;
						white-space: normal;
						font-size: 10px;
						line-height: 1.2;
						text-align: left;
						opacity: 0;
						visibility: hidden;
						&.dark {
							border-radius: 2px;
							color: #e6e6e6;
							padding: 8px;
							background: #32374a;
							font-weight: 400;
						}
						&.right-center {
							left: 100%;
							margin-bottom: 0;
							margin-left: 16px;
							bottom: auto;
							top: 50%;
							-webkit-transform: translateY(-50%);
							transform: translateY(-50%);
						}
					}
					&:hover .tooltip-hover-content {
						opacity: 1;
						visibility: visible;
					}
					.tooltip-hover-text {
						position: relative;
						z-index: 1;
					}
					.tooltip-ico {
						width: 14px;
						height: 14px;
						opacity: .3;
						display: block;
						margin-left: 5px;
					}
					&::after {
						content: '';
						width: 110%;
						height: 120%;
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						margin: auto;
						right: 0;
						z-index: 0;
					}	
				}
				.pin-code-block {
					width: 94px !important;
					letter-spacing: 3px;
				}
			}
			.pin-code-link-container {
				height: 40px;
				display: flex;
				align-items: center;
				@media (min-width: 768px) {
					position: absolute;
    				left: 133px;
				}
			}
			.request-btn {
				flex-direction: row-reverse !important;
				align-items: flex-end;
			}
			.pin-code-link:link {
				text-decoration: underline;
				color: #1a4cc2 !important;
			}
		}
	}
}
