.open-account {
  .heading {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    line-height: 1;
    color: #000;
    font-weight: 500;
    font-size: 20px;

    &.h1 {
      font-size: 24px;
    }
  }
  .account-box {
    margin-top: 40px;

    .account-box-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 24px;

      @media (min-width: 769px) {
        display: flex;
        align-items: center;
      }

      .account-box-title {
        align-items: center;
        @media (min-width: 769px) {
          font-size: 24px;
        }
        p {
          font-size: 13px;
          color: #999;
        }

        .account-box-title-name {
          margin-bottom: 20px;
          font-size: 24px;
          display: block;
          white-space: nowrap;
          @media (min-width: 769px) {
            display: flex;
            align-items: center;
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .account-header {
    display: flex;
    .tooltip__ico-question {
      width: 12px;
      height: 12px;
      min-width: 12px;
      opacity: 0.5;
      margin: 10px;
      transition: all 0.2s ease-in-out;
      display: flex;
    }
  }


  .acc-type-settings {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 15px 10px 15px 25px;
    margin: 0 0 25px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #4d4d4d;
    .item {
      flex: 0 1 22.6%;
      margin: 0 15px 20px 0;
      min-width: 130px;

      .title {
        font-weight: 500;
        font-size: 12px;
        display: flex;
        justify-content: flex-start;
        min-height: 14px;
        margin-bottom: 10px;
        position: relative;
        align-items: center;
      }
      .cntrl {
        width: 100%;

        .switcher {
          display: flex;
          align-items: stretch;
          justify-content: stretch;
          height: 32px;
          border: 2px solid #f2f2f2;
          background: #f2f2f2;
          border-radius: 4px;
          .switcher-item {
            position: relative;
            flex: 1;
            height: 28px;
            .switcher-radio {
              position: absolute;
              bottom: 100%;
              right: 100%;
              visibility: hidden;
              opacity: 0;
            }
            .switcher-label {
              font-size: 12px;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
              padding: 0 10px;
              cursor: pointer;
              color: #999;
              border-radius: 4px;
              transition: all 0.1s ease-out;
            }

            .switcher-radio:checked + .switcher-label {
              cursor: default;
              background: #fff;
              color: #c99c3b;
              box-shadow: 0 1px 2px rgb(0 0 0 / 25%);
            }
          }
        }
      }
    }
    .balance-div {
      position: relative;

      .label-position {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        left: 8px;
        font-weight: bold;
      }
    }
  }
  .form-width {
    width: 360px;
    display: flex;
    justify-content: space-between;
  }
  .form-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .simple-table-wrap {
    .simple-table {
      border: 0;
      border-top: #c99c3b solid 2px;
      .table-hint {
        font-size: 12px;
        font-style: italic;
        color: #888;
        white-space: normal;
      }
      strong {
        font-weight: 500;
      }
      tbody {
        th {
          font-weight: 500;
          font-size: 12px;
          padding: 6px 5px;
          border-bottom: #e5e5e8 solid 1px;
          vertical-align: top;
          white-space: nowrap;
          color: #464646;
          line-height: 16px;
        }
        td {
          font-size: 13px;
          padding: 6px 5px;
          line-height: 16px;
          color: #464646;
          font-weight: 400;
          text-align: right;
          border-bottom: #e5e5e8 solid 1px;
          vertical-align: top;
          white-space: nowrap;
        }
      }
      .hidden-pass {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .input {
          text-align: right;
          margin: 0 15px 0 0;
          padding: 0;
          border: none;
          outline: 0;
        }
        .cntrl {
          width: 23px;
          height: 23px;
          overflow: hidden;
          text-indent: -200px;
          &.show {
            background-color: transparent;
            background-image: url("../../../assets/images/icon/eye.svg");
            background-repeat: no-repeat;
            background-position: 50% 50%;
            border: none;
            opacity: 0.5;
          }
          &.copy {
            background-color: transparent;
            background-image: url("../../../assets/images/icon/copy.svg");
            background-repeat: no-repeat;
            background-position: 50% 50%;
            border: none;
          }
        }
        .cntrl-tooltip-wrap {
          position: relative;
        }
        .cntrl-tooltip {
          position: absolute;
          top: 100%;
          right: 0;
          display: none;
          margin-top: 10px;
          padding: 10px 10px;
          opacity: 0;
          background: #000;
          color: #fff;
          border-radius: 4px;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}
