@media (min-width: 1200px) {
	.container {max-width: 760px !important;}
	#slider_area .left-text {padding-bottom: 1rem;}
}
@media (min-width: 1101px) {

	#header .main-header-area {
		height: 74px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
	}

	.header-menu-button:focus::after, .header-menu-button:hover::after {
		display: block;
		visibility: visible;
	}
}
@media (min-width: 992px) {
	.pt-3 {padding-top: 5rem !important;}
    .pb-3 {padding-bottom: 5rem !important;}
    .pt-2 {padding-top: 2rem !important;}
    .pb-2 {padding-bottom: 2rem !important;}
    .mt-3 {margin-top: 3rem !important;}
    .mb-3 {margin-bottom: 3rem !important;}
    .mt-2 {margin-top: 2rem !important;}
    .mb-2 {margin-bottom: 2rem !important;}
	
	/*============*/
	.floats {
	    position: fixed;
	    width: 40px;
	    height: 40px;
	    bottom: 75px;
	    right: 20px;
	    background-color: #13990a;
	    color: #fff;
	    border-radius: 50px;
	    text-align: center;
	    font-size: 30px;
	    box-shadow: 2px 2px 3px #999;
	    z-index: 100;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    padding: 9px;
	}
	.svg-inline--fa {
	    font-size: inherit;
	    height: 1em;transition: all 0.5s ease;
	    color: #fff;
	}
	.svg-inline--fa:hover {color: #fff;}

	/*==============*/	
	.menu-block .navigation-menu > li, .menu-block .navigation-menu > .dropdown  {position: relative;padding: 2px 15px;margin: 0 8px;}
	.dropdown-menu.fullwidth_dropdown_menu::-webkit-scrollbar {width: 5px;}
	/* Track */
	.dropdown-menu.fullwidth_dropdown_menu::-webkit-scrollbar-track {background: #f1f1f1;}
	/* Handle */
	.dropdown-menu.fullwidth_dropdown_menu::-webkit-scrollbar-thumb {background: #ee4998;}
	/* Handle on hover */
	.dropdown-menu.fullwidth_dropdown_menu::-webkit-scrollbar-thumb:hover {background: #555;}
	/* Track */
	.mobile-sticky-footer {display: none;}
	.header-area .main-header-area .main-menu {padding: 0;}	
	
	.bgcolor {
	    background: #91a3ad;
	    color: #fff !important;
	    border-radius: 6px;
	    padding: 10px 30px !important;
	}
	
	.login-form .links {text-align: right;}
	.step-form .row::before {top: 30px;bottom: 0;position: absolute;content: " ";width: calc(100% - 360px);height: 1px;background-color: #000;margin: 0 auto;left: 0;right: 0;}
}	
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.header-area .address_bar .address_menu .single_address img {max-width: 100px;}
	.header-area .main-header-area .main-menu ul li a {font-size: 16px;font-weight: 400;}
	.header-area .main-header-area .main-menu ul li a i {font-size: 1rem;}
	.slider_area .single_slider .slider_text h1 {font-size: 3rem;}
	.slider_area .btn-box {padding-top: 4rem;}
	
	#slider_area .carousel-control-next {right: 0;}
	#slider_area .carousel-control-prev {left: 0;}
	.header-area .main-header-area {padding: 10px 0;}
	#slider_area .d-block {display: unset !important;}
	
	#slider_area .left-text h1 {font-size: 50px;}
	#slider_area .carousel-caption {top: 25%;}
	.section-header h2 {font-size: 32px;}
	
	.nav-menu > ul > li {padding: 20px 10px;}
	#header .right-side .user-add .singup {margin-left: 10px;}
}
/* - Max Width: 991 */
@media (max-width: 991px) {
	.pt-3 {padding-top: 3rem !important;}
    .pb-3 {padding-bottom: 3rem !important;}
    .pt-1 {padding-top: 20px !important;}
    .pb-1 {padding-bottom: 20px !important;}
    .pt-2 {padding-top: 1.5rem !important;}
    .pb-2 {padding-bottom: 1.5rem !important;}
	.mt-3 {margin-top: 2rem !important;}
    .mb-3 {margin-bottom: 2rem !important;}
    .mt-2 {margin-top: 1.5rem !important;}
    .mb-2 {margin-bottom: 1.5rem !important;}
	
	
	#return-to-top {bottom: 55px;}
	.slider_area .right-side img {max-width: 280px;}
	.whatsapp, .top-bar, .carousel-control-prev, .carousel-control-next {display: none;}

	/*===============*/
	#sticky-header .logo img {max-width: 170px;}
	.slicknav_nav a {font-size: 15px;color: #fff;}
	.main-header {position: unset;}
	.slicknav_icon-bar {background: #000 !important;}
	.header-area .main-header-area {padding: 10px 0;}
	
	.btn-box {text-align: center;}
	.login-form .links {text-align: center;}
	.btn-style2 {margin: 0 auto;}
}	
@media only screen and (min-width: 768px) and (max-width: 991px) {
	#slider_area .left-text h1 {font-size: 42px;}
	.slider_area .btn-box {padding-top: 3rem;}
	#slider_area .right-side p {color: #fff;}
	#slider_area .carousel-caption { top: 0;display: flex;align-items: center;justify-content: center;width: 100%;margin: 0 auto;left: 0;padding: 0 20px;right: 0;}	
	#slider_area .carousel-caption > .row {margin: 0;}
	.why_work .smile_icon_list_wrap, .head_slider .owl-dots button.owl-dot, .tab-none {display: none;}
	.gallery_section .flip-card {height: 427px;}
	.certificate .flip-card-front {background: transparent;display: flex;align-items: center;}
	.step-form .row::before {width: calc(100% - 200px) !important;}
}	
@media (min-width: 768px) {
	.environment_bg, .tab-none {display: none;}
}	
@media only screen and (max-width: 767px) {		
	.section-header, .about_inner .img-box, #slider_area .banner-btn, .home_about .inner-box, .heading_section .head-title, #slider .over-text .banner-btn {text-align: center;}
	#slider .left-text h1 {font-size: 2.5em;}
	.section-header h2 {font-size: 30px;}
	.d-block {display: unset !important;}
	.heading_section .head-title h1 {font-size: 30px;line-height: normal;}
	.slider_area .single_slider .slider_text h1 {font-size: 2em;text-align: center;}
	.slider_area .btn-box {padding-top: 2rem;text-align: center;}
	.slider_area .btn-box a {font-size: 18px;}
	.slider_area .right-side {padding-bottom: 2rem;text-align: center;}
	 
	#slider_area .carousel-control-prev {left: 0;}
	#slider_area .carousel-control-next {right: 0;}	
	#slider_area .carousel-caption {top: 1%;display: flex;align-items: center;justify-content: center;width: 100%;margin: 0 auto;left: 0;padding: 0 30px;right: 0;}	
	#slider_area .carousel-caption .row {flex-direction: column-reverse;}
	.heading_section {padding: 15% 0;}
	.col-revers {flex-direction: column-reverse;}
	
	.login-form .links {padding-top: 10px;}

}
@media only screen and (min-width: 640px) and (max-width: 767px) {	
	.why_work .smile_icon_list_wrap {display: none;}
}
@media only screen and (min-width: 576px) and (max-width: 767px) {	
	.step-form .row::before {width: calc(100% - 200px) !important;top: 37px !important;}
}
@media only screen and (min-width: 200px) and (max-width: 574px) {	
	.step-form .row::before {display: none;}
}
/* - Max Width: 639 */
@media only screen and (max-width: 639px) {	
	.login .row {flex-direction: column-reverse;}
	.login .left-side {padding: 1rem 0;}
	.or-line:before, .or-line:after {width: 30%;}
	.signup .left-side .profile-pic img {width: 320px;height: 320px;}
	.signup .left-side .profile-pic::before {width: 340px;height: 340px;}
	.signup .left-side .profile-pic::after {width: 360px;height: 360px;}
}
