<main>
  <!-- live chat -->
  <button
    class="live-chat-button"
    data-auto-event-category="UXclick"
    data-auto-event-action="Support click"
    data-auto-event-label="livechat"
  >
    <span class="live-chat-button__label">Live chat support</span>
  </button>
  <!-- Reset password -->

  <section class="login reset-password pb-3">
    <div class="container">
      <div
        class="row align-items-center main-box justify-content-center w-100 mx-0"
      >
        <div class="col-xl-12 col-md-12 col-lg-12 px-0">
          <div class="content-wrapper"></div>
          <div *ngIf="isShowError" class="alert alert-error">
            <a class="close">×</a>
            Invalid password. Please enter your valid password
          </div>
          <h1 class="heading h2">Restore password wizard</h1>
          <div class="infotext">
            In case you forgot any of your passwords, please use this wise
            wizard to restore them. You can also change your password here.
            Please follow the required steps. In case you can't use the wizard,
            please contact us.
          </div>
          <div class="reset-password-tab">
            <mat-tab-group>
              <mat-tab label="CHANGE PASSWORDS">
                <div class="row mt-3">
                  <div class="col-lg-3">
                    <label for="password type">Select password type</label>
                  </div>
                  <div class="col-lg-9">
                    <mat-radio-group (change)="radioChange($event)">
                      <mat-radio-button value="1">OctaFX PIN </mat-radio-button>
                      <br />
                      <mat-radio-button value="2"
                        >Personal area password
                      </mat-radio-button>
                      <br />
                      <mat-radio-button value="3"
                        >Account
                        <mat-form-field appearance="outline">
                          <mat-label>Select an account</mat-label>
                          <mat-select>
                            <mat-option
                              *ngFor="let item of userAccount"
                              value="{{ item?.id }}"
                            >
                              {{ item?.account_id }}</mat-option
                            >
                          </mat-select>
                        </mat-form-field>
                        password
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
                <form
                  [formGroup]="resetPassword"
                  class="row"
                  *ngIf="showOptions"
                >
                  <div class="col-lg-3 mt-2 text-right">
                    <label for="current">Current</label>
                  </div>
                  <div class="col-lg-9 mt-2">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <input
                        matInput
                        type="password"
                        formControlName="currentPass"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-lg-3 mt-2 text-right">
                    <label for="new">New</label>
                  </div>
                  <div class="col-lg-9 mt-2">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <input
                        matInput
                        type="password"
                        formControlName="newPass"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-lg-3 mt-2 text-right">
                    <label for="repeat">Repeat</label>
                  </div>
                  <div class="col-lg-9 mt-2">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <input
                        matInput
                        type="password"
                        formControlName="confirmPass"
                      />
                    </mat-form-field>
                    <div
                      *ngIf="resetPassword.controls['confirmPass'].errors"
                      class="invalid-feedback"
                    >
                      <div
                        *ngIf="
                          resetPassword.controls['confirmPass'].errors.required
                        "
                      >
                        Confirm Password is required
                      </div>
                      <div
                        *ngIf="
                          resetPassword.controls['confirmPass'].errors.mustMatch
                        "
                      >
                        Password and confirm not match
                      </div>
                    </div>
                    
                  </div>
                  <div class="d-flex align-items-center justify-content-center">
                    <button
                      type="submit"
                      name="change"
                      mat-raised-button
                      color="primary"
                      (click)="change()"
                      class="text-center"
                    >
                      Change
                    </button>
                  </div>
                </form>
              </mat-tab>
              <mat-tab label="RESTORE PASSWORDS">
                <div class="row mt-3">
                  <div class="col-lg-3">
                    <label for="password type">Select password type</label>
                  </div>
                  <div class="col-lg-9">
                    <mat-radio-group>
                      <mat-radio-button value="1">OctaFX PIN </mat-radio-button>
                      <br />
                      <mat-radio-button value="3"
                        >Account
                        <mat-form-field appearance="outline">
                          <mat-label>Select an account</mat-label>
                          <mat-select>
                            <mat-option
                              *ngFor="let item of userAccount"
                              value="{{ item?.id }}"
                            >
                              {{ item?.account_id }}</mat-option
                            >
                          </mat-select>
                        </mat-form-field>
                        password
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                <button
                  type="submit"
                  name="change"
                  mat-raised-button
                  color="primary"
                  (click)="change()"
                  style="text-align: center"
                >
                  Submit
                </button></div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
