.reset-password {
    .main-container {
        width: 760px;
        background-color: #fff;
        border-radius: 5px;
        padding: 32px;
        padding-bottom: 40px;
        box-sizing: border-box;
    }
    .content-wrapper {
        padding-top: 24px;
    }
    .heading {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        margin-bottom: 24px;
        font-family: Roboto, Helvetica, Arial, sans-serif;
        line-height: 1;
        color: #000;
        font-weight: 500;
        font-size: 20px;
    }
    .infotext {
        margin-bottom: 20px;
        color: #999;
        line-height: 18px;
    }
    .btn {
        width: 46%;
        text-align: center;
        justify-content: center;
        max-width: 160px;
        padding-right: 5px;
        padding-left: 5px;
        height: 40px;
        border: none;
        border-radius: 4px;
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 0 24px;
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-size: 12px;
        font-weight: 500;
        cursor: pointer;
        transition-property: background-color, color;
        transition-duration: 0.2s;
        @media (min-width: 769px) {
            width: 120px;
            padding: 0 5px;
        }
    }
    .btn-blue {
        background: #c99c3b;
        border-color: #c99c3b;
        color: #fff;
        @media (min-width: 769px) {
            margin-left: 16px;
        }

        &:hover {
            background: #9d7622;
        }
    }
    .reset-password-tab {
        button {
            margin: 15px 0px;
            background: #c99c3b;
            color: white;
        }
        p {
            font-size: 13px;
        }
    }
}
