.account-log {
    .main-container {
        width: 760px;
        background-color: #fff;
        border-radius: 5px;
        padding: 32px;
        padding-bottom: 40px;
        box-sizing: border-box;
    }
    .content-wrapper {
        padding-top: 24px;
    }
}