<!-- <div class="container">
    <h2 class="mt-5 mb-4">Angular Stripe Checkout Example</h2>
    <div class="col-md-5 mb-2">
      <button (click)="makePayment(1)" class="btn btn-danger btn-block">Pay $1</button>
    </div>
    <div class="col-md-5 mb-2">
      <button (click)="makePayment(25)" class="btn btn-primary btn-block">Pay $25</button>
    </div>
    <div class="col-md-5">
      <button (click)="makePayment(35)" class="btn btn-success btn-block">Pay $35</button>
    </div>
  </div> -->


<div class="page-overlay-wrapper" *ngIf=showSpinner>
    <div class="spinner-div">
        <mat-spinner></mat-spinner>
    </div>
</div>
<main>
    <div class="container">
        <div class="row align-items-center main-box justify-content-center w-100 mx-0">
            <div class="col-xl-12 col-md-12 col-lg-12 px-0">
                <div class="deposit">
                    <h2 class="heading">Select where to transfer the money</h2>
                    <form class="form-wrapper-inner">
                        <div class="account-box-selector">
                            <div class="form-element-item plus-button" slot="account-selector" ishasbutton="true">
                                <div class="form-element-multiselect">
                                    <input name="billingAddress" type="hidden" value="46357357">
                                    <div tabindex="0" class="multiselect multiselect--above dropdown">

                                        <div class="multiselect-tags" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            <div class="multiselect__select"></div>
                                            <span class="multiselect__single w-100">
                                                <div class="account-selector-list-item">
                                                    <div class="real-div">
                                                        <div>
                                                            {{accountDetailsList?.account_type == 1 ? "REAL" : "REAL"}}
                                                        </div>
                                                    </div>
                                                    <div class="mt5-logo">
                                                        {{accountDetailsList?.plan?.name.substr(this.accountDetailsList?.plan?.name.indexOf("
                                                        ") + 1).slice(0,
                                                        2)}}<span>{{accountDetailsList?.plan?.name.substr(this.accountDetailsList?.plan?.name.indexOf("
                                                            ") + 1).slice(2)}}</span>
                                                    </div>
                                                    <span
                                                        class="account-selector__number">{{accountDetailsList?.account_id}}</span>
                                                    <span class="account-selector__balance">
                                                        {{accountDetailsList?.currency ==
                                                        "USD" ? "$" : "€"}}{{accountDetailsList?.balance}}
                                                    </span>
                                                </div>
                                            </span>
                                        </div>
                                        <div class="multiselect-content-wrapper dropdown-menu w-100"
                                            aria-labelledby="dropdownMenuButton1">
                                            <a *ngFor="let item of dataSource;"
                                                class="multiselect__element dropdown-item">
                                                <span class="multiselect__option multiselect__option-highlight"
                                                    (click)="accountById(item?.id)">
                                                    <div class="account-selector-list-item">
                                                        <div class="real-div">
                                                            <div>
                                                                {{item?.account_type == 1 ? "REAL" : "REAL"}}
                                                            </div>
                                                        </div>
                                                        <div class="mt5-logo">
                                                            {{item?.plan?.name.substr(this.item?.plan?.name.indexOf("
                                                            ") + 1).slice(0,
                                                            2)}}<span>{{item?.plan?.name.substr(this.item?.plan?.name.indexOf("
                                                                ") + 1).slice(2)}}</span></div>
                                                        <span
                                                            class="account-selector__number">{{item?.account_id}}</span>
                                                        <span class="account-selector__balance">{{item?.currency ==
                                                            "USD" ? "$" : "€"}}{{item?.balance}}</span>
                                                    </div>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h2 class="heading">New deposit for account {{accountDetailsList?.account_id}}</h2>
                        <mat-radio-group aria-label="Select an option" class="radio-box-container row"
                            (change)="radioChange($event)">
                            <div class="col-md-4 col-6">
                                <label class="radio-box-img" for="radio_1" [ngClass]="{'active': radio_1.checked}">
                                    <mat-radio-button #radio_1 type="radio" class="radio-box-img-input" value="incs4">
                                    </mat-radio-button>
                                    <img src="../../../assets/images/payment-option/incs.svg"
                                        class="radio-box-img-ico" />
                                </label>
                            </div>
                            <div class="col-md-4 col-6">
                                <label class="radio-box-img" for="radio_2" [ngClass]="{'active': radio_2.checked}">
                                    <mat-radio-button #radio_2 type="radio" class="radio-box-img-input" value="btc">
                                    </mat-radio-button>
                                    <img src="../../../assets/images/payment-option/btc.svg"
                                        class="radio-box-img-ico" />
                                </label>
                            </div>
                            <div class="col-md-4 col-6">
                                <label class="radio-box-img" for="radio_3" [ngClass]="{'active': radio_3.checked}">
                                    <mat-radio-button #radio_3 type="radio" class="radio-box-img-input" value="doge">
                                    </mat-radio-button>
                                    <img src="../../../assets/images/payment-option/doge.svg"
                                        class="radio-box-img-ico" />
                                    <div class="radio-box-img-text">Dogecoin</div>
                                </label>
                            </div>
                            <div class="col-md-4 col-6">
                                <label class="radio-box-img" for="radio_4" [ngClass]="{'active': radio_4.checked}">
                                    <mat-radio-button #radio_4 type="radio" class="radio-box-img-input" value="binpay">
                                    </mat-radio-button>
                                    <img src="../../../assets/images/payment-option/binpay.svg"
                                        class="radio-box-img-ico" />
                                    <div class="radio-box-img-text">Ethereum</div>
                                </label>
                            </div>
                            <div class="col-md-4 col-6">
                                <label class="radio-box-img" for="radio_5" [ngClass]="{'active': radio_5.checked}">
                                    <mat-radio-button #radio_5 type="radio" class="radio-box-img-input" value="ltc">
                                    </mat-radio-button>
                                    <img src="../../../assets/images/payment-option/ltc.svg"
                                        class="radio-box-img-ico" />
                                    <div class="radio-box-img-text">Litecoin</div>
                                </label>
                            </div>
                            <div class="col-md-4 col-6">
                                <label class="radio-box-img" for="radio_6" [ngClass]="{'active': radio_6.checked}">
                                    <mat-radio-button #radio_6 type="radio" class="radio-box-img-input" value="nt">
                                    </mat-radio-button>
                                    <img src="../../../assets/images/payment-option/nt.svg" class="radio-box-img-ico" />
                                </label>
                            </div>
                            <div class="col-md-4 col-6">
                                <label class="radio-box-img" for="radio_7" [ngClass]="{'active': radio_7.checked}"
                                    data-auto-event-category="UXclick"
                                    data-auto-event-action="Block payment option click" data-auto-event-label="mb"
                                    data-payment-type="instant" data-payment-paysystem-code="mb"
                                    data-payment-name="Skrill"
                                    data-payment-currencies="[{&quot;name&quot;:&quot;USD&quot;,&quot;sign&quot;:&quot;$&quot;,&quot;rate&quot;:1,&quot;minAmount&quot;:&quot;50&quot;,&quot;roundFactor&quot;:100},{&quot;name&quot;:&quot;EUR&quot;,&quot;sign&quot;:&quot;\u20ac&quot;,&quot;rate&quot;:1.0816996963668952,&quot;minAmount&quot;:&quot;50&quot;,&quot;roundFactor&quot;:100}]"
                                    data-payment-settings="null" data-payment-account-fields="null"
                                    data-payment-banks="null"
                                    data-payment-predefined-amounts="{&quot;USD&quot;:[100,200,400],&quot;INR&quot;:[1500,3000,6000]}"
                                    data-payment-hide-different-bank-notice="" data-payment-transfer-types="null"
                                    data-user-data="{&quot;needShowNotification&quot;:false}"
                                    data-paysystem-notifications="[]">
                                    <mat-radio-button #radio_7 type="radio" name="payment" value="mb"
                                        class="radio-box-img-input">
                                    </mat-radio-button>
                                    <img src="../../../assets/images/payment-option/mb.svg" class="radio-box-img-ico" />
                                </label>
                            </div>
                            <div class="col-md-4 col-6">
                                <label class="radio-box-img" for="radio_8" [ngClass]="{'active': radio_8.checked}">
                                    <mat-radio-button #radio_8 type="radio" class="radio-box-img-input" value="usdte">
                                    </mat-radio-button>
                                    <img src="../../../assets/images/payment-option/usdte.svg"
                                        class="radio-box-img-ico" />
                                    <div class="radio-box-img-text">Tether (ERC20)</div>
                                </label>
                            </div>
                            <div class="col-md-4 col-6">
                                <label class="radio-box-img" for="radio_9" [ngClass]="{'active': radio_9.checked}">
                                    <mat-radio-button #radio_9 type="radio" class="radio-box-img-input" value="usdtt">
                                    </mat-radio-button>
                                    <img src="../../../assets/images/payment-option/usdtt.svg"
                                        class="radio-box-img-ico" />
                                    <div class="radio-box-img-text">Tether (TRC20)</div>
                                </label>
                            </div>
                            <div class="col-md-4 col-6">
                                <label class="radio-box-img" for="radio_10" [ngClass]="{'active': radio_10.checked}">
                                    <mat-radio-button #radio_10 type="radio" class="radio-box-img-input"
                                        value="exactly">
                                    </mat-radio-button>
                                    <img src="../../../assets/images/payment-option/mastercard.png"
                                        class="radio-box-img-ico" />
                                </label>
                            </div>
                            <div class="col-md-4 col-6">
                                <label class="radio-box-img" for="radio_11" [ngClass]="{'active': radio_11.checked}">
                                    <mat-radio-button #radio_11 type="radio" class="radio-box-img-input"
                                        value="echp_upi">
                                    </mat-radio-button>
                                    <img src="../../../assets/images/payment-option/csh_l_upi.svg"
                                        class="radio-box-img-ico" />
                                </label>
                            </div>
                            <div class="col-md-4 col-6">
                                <label class="radio-box-img" for="radio_12" [ngClass]="{'active': radio_12.checked}">
                                    <mat-radio-button #radio_12 type="radio" class="radio-box-img-input"
                                        value="csh_l_upi">
                                    </mat-radio-button>
                                    <img src="../../../assets/images/payment-option/echp_upi.svg"
                                        class="radio-box-img-ico" />
                                </label>
                            </div>
                        </mat-radio-group>
                        <ul class="list-commission d-flex align-items-center justify-content-center mt-4">
                            <li class="list-item">No commission</li>
                            <li class="list-item">Best exchange rates</li>
                            <li class="list-item">
                                <span> 50% deposit bonus </span>
                            </li>
                        </ul>

                        <div *ngIf="isShowSkrill">
                            <h2 class="heading">Specify the deposit amount</h2>
                            <div class="d-flex align-items-center mb-4">
                                <div class="form-deposit-text">
                                    I want to deposit in:
                                </div>
                                <div class="cntrl">
                                    <div class="switcher">
                                        <div class="switcher-item">
                                            <input id="deposit-0" name="deposit" type="radio" class="switcher-radio"
                                                value="$" checked (input)="selectedToggle($event.target.value)" />
                                            <label for="deposit-0" class="switcher-label">$</label>
                                        </div>
                                        <div class="switcher-item">
                                            <input id="deposit-1" name="deposit" type="radio" class="switcher-radio"
                                                value="€" (input)="selectedToggle($event.target.value)" />
                                            <label for="deposit-1" class="switcher-label">€</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <mat-card class="panel shadow-none p-0">
                                <div *ngIf="isTrueDollar">
                                    <mat-radio-group (change)="paymentAmount($event)">
                                        <mat-radio-button type="radio" class="example-margin" id="radio-14" value="400">
                                            $400.00
                                        </mat-radio-button>
                                        <mat-radio-button type="radio" class="example-margin" id="radio-15" checked
                                            value="200">
                                            $200.00
                                        </mat-radio-button>
                                        <mat-radio-button type="radio" class="example-margin" id=" radio-16"
                                            value="100">
                                            $100.00
                                        </mat-radio-button>
                                    </mat-radio-group>
                                    <mat-radio-group>
                                        <mat-radio-button class="example-margin" value="primary">
                                            <mat-form-field class="example-full-width" appearance="fill">
                                                <input matInput placeholder="Other $" maxlength="9" minlength="1"
                                                    (input)="onSearchChange($event.target.value)">
                                            </mat-form-field>
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <mat-radio-group *ngIf="isTrueEurope">
                                    <mat-radio-button class="example-margin" value="primary">
                                        <mat-form-field class="example-full-width" appearance="fill">
                                            <input matInput placeholder="Other €" maxlength="9" minlength="1"
                                                (input)="onSearchChange($event.target.value)" value="">
                                        </mat-form-field>
                                        <br>
                                        <label *ngIf="depositAmount">${{depositAmount}}</label>
                                    </mat-radio-button>
                                </mat-radio-group>
                            </mat-card>

                            <div class="warning-msg">We might need to verify your card. If needed, we'll request its
                                front
                                side photo in the
                                course of the payment or later.</div>

                        </div>

                        <div *ngIf="isShowUPI">
                            <h2 class="heading">Specify the deposit amount</h2>
                            <div class="d-flex align-items-center mb-4">
                                <div class="form-deposit-text">
                                    I want to deposit in:
                                </div>
                                <!-- <div class="cntrl">
                                    <div class="switcher">
                                        <div class="switcher-item">
                                            <input id="deposit-0" name="deposit" type="radio" class="switcher-radio"
                                                value="$" checked (input)="selectedToggle($event.target.value)" />
                                            <label for="deposit-0" class="switcher-label">$</label>
                                        </div>
                                        <div class="switcher-item">
                                            <input id="deposit-1" name="deposit" type="radio" class="switcher-radio"
                                                value="€" (input)="selectedToggle($event.target.value)" />
                                            <label for="deposit-1" class="switcher-label">€</label>
                                        </div>
                                    </div>
                                </div> -->
                            </div>


                            <mat-card class="panel shadow-none p-0">
                                <div *ngIf="isTrueDollar">
                                    <mat-radio-group (change)="paymentAmount($event)">
                                        <mat-radio-button type="radio" class="example-margin" id="radio-14"
                                            value="6,000">
                                            ₹6,000.00 <br>
                                            <label>$78.49</label>
                                        </mat-radio-button>

                                        <mat-radio-button type="radio" class="example-margin" id="radio-15" checked
                                            value="3000.00">
                                            ₹3000.00 <br>
                                            $39.24
                                        </mat-radio-button>
                                        <mat-radio-button type="radio" class="example-margin" id=" radio-16"
                                            value="1500.00">
                                            ₹1500.00 <br>
                                            $19.62
                                        </mat-radio-button>
                                        <mat-radio-button class="example-margin example-full-width-button" value=""
                                            id=" radio-17">
                                            <mat-form-field class="example-full-width" appearance="fill">
                                                <input matInput placeholder="Other ₹" maxlength="9" minlength="1"
                                                    (input)="onSearchChange($event.target.value)" type="tel">
                                            </mat-form-field>
                                            <br>
                                            <label *ngIf="depositAmount">${{showConvertedDeposite}}</label>
                                        </mat-radio-button>
                                        <!-- <mat-radio-button class="example-margin example-full-width-button" value="" id=" radio-17">
                                            <mat-form-field class="example-full-width" appearance="fill">
                                                <input matInput placeholder="Other ₹" maxlength="9" minlength="1"
                                                    (input)="onSearchChange($event.target.value)">
                                            </mat-form-field>
                                        </mat-radio-button> -->
                                        <!-- Increase your deposit. The minimum amount we accept in a single deposit is ₹1,000.00 -->

                                    </mat-radio-group>

                                    <div *ngIf="depositeMinValidation" class="error-msg">
                                        Increase your deposit. The minimum amount we accept in a single deposit is
                                        ₹1,000.00
                                    </div>
                                    <div *ngIf="depositeMaxValidation" class="error-msg">
                                        Lower your deposit. The maximum amount we accept in a single deposit is
                                        ₹200,000.00
                                    </div>
                                </div>

                            </mat-card>

                            <div class="warning-msg">We might need to verify your card. If needed, we'll request its
                                front
                                side photo in the
                                course of the payment or later.</div>

                        </div>

                        <div *ngIf="isShowMasterCard">
                            <h2 class="heading">Specify the deposit amount</h2>
                            <mat-card class="panel shadow-none p-0">
                                <div *ngIf="isTrueDollar">
                                    <mat-radio-group (change)="paymentAmount($event)">
                                        <mat-radio-button class="example-margin example-full-width-button" value=""
                                            id=" radio-17">
                                            <mat-form-field class="example-full-width" appearance="fill">
                                                <input matInput placeholder="Other €" maxlength="9" minlength="1"
                                                    (input)="onSearchChange($event.target.value)" type="tel">
                                            </mat-form-field>
                                            <br>
                                            <label *ngIf="depositAmountMaster">${{showConvertedDepositeMaster}}</label>
                                        </mat-radio-button>
                                    </mat-radio-group>

                                    <div *ngIf="depositeMasterMinValidation" class="error-msg">
                                        Increase your deposit. The minimum amount we accept in a single deposit is
                                        €50.00
                                    </div>
                                    <div *ngIf="depositeMasterMaxValidation" class="error-msg">
                                        Lower your deposit. The maximum amount we accept in a single deposit is
                                        €5,000.00
                                    </div>
                                </div>

                            </mat-card>

                            <div class="warning-msg">We might need to verify your card. If needed, we'll request its
                                front
                                side photo in the
                                course of the payment or later.</div>

                        </div>

                        <section class="promo-bonuses-container">
                            <h2 class="heading">Choose bonus</h2>

                            <div>
                                <mat-accordion>
                                    <mat-expansion-panel class="bonuses-advantages" (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                What advantages does the bonus bring?
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <ul class="bonuses-advantages-list">
                                            <li class="bonuses-advantages-listitem">
                                                <i class="bonuses-advantages-listicon">
                                                    <img src="../../../assets/images/bonus-advantage-01.jpg" width="48"
                                                        height="48" class="bonuses-advantages-listpic" />
                                                </i>
                                                <div class="bonuses-advantages-listtext">
                                                    <p class="bonuses-advantages-listtitle">
                                                        Provides higher trading volume.
                                                    </p>
                                                </div>
                                            </li>
                                            <li class="bonuses-advantages-listitem">
                                                <i class="bonuses-advantages-listicon">
                                                    <img src="../../../assets/images/bonus-advantage-02.jpg" width="48"
                                                        height="48" class="bonuses-advantages-listpic" />
                                                </i>
                                                <div class="bonuses-advantages-listtext">
                                                    <p class="bonuses-advantages-listtitle">
                                                        Does not block withdrawals.
                                                    </p>
                                                </div>
                                            </li>
                                            <li class="bonuses-advantages-listitem">
                                                <i class="bonuses-advantages-listicon">
                                                    <img src="../../../assets/images/bonus-advantage-03.jpg" width="48"
                                                        height="48" class="bonuses-advantages-listpic" />
                                                </i>
                                                <div class="bonuses-advantages-listtext">
                                                    <p class="bonuses-advantages-listtitle">
                                                        Can be converted to your money in full by trading.
                                                    </p>
                                                    <p class="bonuses-advantages-listdescr">
                                                        No time limits on completing the bonus.
                                                    </p>
                                                </div>
                                            </li>
                                            <li class="bonuses-advantages-listitem">
                                                <i class="bonuses-advantages-listicon">
                                                    <img src="../../../assets/images/bonus-advantage-04.jpg" width="48"
                                                        height="48" class="bonuses-advantages-listpic" />
                                                </i>
                                                <div class="bonuses-advantages-listtext">
                                                    <p class="bonuses-advantages-listtitle">
                                                        Can be cancelled at your will at any moment.
                                                    </p>
                                                </div>
                                            </li>
                                        </ul>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>

                            <div>
                                <mat-accordion>
                                    <mat-expansion-panel hideToggle class="promo-bonuses">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title class="promo-header w-100">
                                                <div class="promo-header-text">
                                                    <input type="checkbox" class="promoinput" name="bonuscategory" />
                                                    <div class="promoico promoicocheckbox"></div>
                                                    <div class="promo-bonuses-title promotext">
                                                        Unlimited 10–50% bonus
                                                    </div>
                                                </div>
                                                <div class="promo-bonuses-header-switcher">
                                                    Select the percentage and apply the bonus
                                                </div>

                                                <picture class="promo-bonuses-img-container">
                                                    <source type="image/webp" alt="Promo bonuses"
                                                        class="promo-bonuses-img" />
                                                    <img src="../../../assets/images/standard.webp"
                                                        class="promo-bonuses-img" alt="Promo bonuses" />
                                                </picture>
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <ul class="promo-bonuses-list">
                                            <li class="promo-bonuses-list-item">
                                                <label class="promo-bonuses-list-item-switcher">
                                                    <div class="promoline">
                                                        <input type="radio" name="bonusvalue" class="promoinput"
                                                            value="standard-10" />
                                                        <div class="promoico promoicoradio"></div>
                                                        <div class="promotext">10%</div>
                                                    </div>
                                                </label>
                                                <div class="promo-bonuses-counting">
                                                    <div class="promo-bonuses-counting-text" style="display: none;">
                                                        To see the bonus amount, specify your deposit amount
                                                        above.
                                                    </div>
                                                    <div class="promo-bonuses-counting-text">
                                                        Requires you to trade
                                                        <span class="promo-bonuses-counting-data new"><span
                                                                class="">10.00</span>
                                                            lots</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="promo-bonuses-list-item">
                                                <label class="promo-bonuses-list-item-switcher styled-form-switcher">
                                                    <div class="promoline">
                                                        <input type="radio" name="bonus_value" class="promoinput"
                                                            value="standard-30" />
                                                        <div class="promoico promoicoradio"></div>
                                                        <div class="promotext">30%</div>
                                                    </div>
                                                </label>
                                                <div class="promo-bonuses-counting">
                                                    <div class="promo-bonuses-counting-text" style="display: none;">
                                                        To see the bonus amount, specify your deposit amount
                                                        above.
                                                    </div>
                                                    <div class="promo-bonuses-counting-text">
                                                        Requires you to trade
                                                        <span class="promo-bonuses-counting-data new"><span
                                                                class="">30.00</span>
                                                            lots</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="promo-bonuses-list-item">
                                                <label class="promo-bonuses-list-item-switcher">
                                                    <div class="promoline">
                                                        <input type="radio" name="bonus_value" class="promoinput"
                                                            value="standard-50" />
                                                        <div class="promoico promoicoradio"></div>
                                                        <div class="promotext">50%</div>
                                                    </div>
                                                </label>
                                                <div class="promo-bonuses-counting">
                                                    <div class="promo-bonuses-counting-text" style="display: none;">
                                                        To see the bonus amount, specify your deposit amount
                                                        above.
                                                    </div>
                                                    <div class="promo-bonuses-counting-text">
                                                        Requires you to trade
                                                        <span class="promo-bonuses-counting-data new"><span
                                                                class="">50.00</span>
                                                            lots</span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                        </section>
                        <div *ngIf="isShowContinueBtn" class="row">
                            <div class="col-sm-12">
                                <div class="d-flex justify-content-end align-items-center base-btn">
                                    <button type="submit" class="btn btn-blue" (click)="Continue()">Continue</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div *ngIf="paymentMethodValidation" class="error-msg">
                        Please specify a payment method.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="isShowconfirmation" class="container">
        <div class="row align-items-center main-box justify-content-center w-100 mx-0 mt-4">
            <div class="col-xl-12 col-md-12 col-lg-12 px-0">
                <div class="deposit">
                    <h2 style="margin-bottom: 24px;">Deposit confirmation</h2>
                    <form class="form-wrapper-inner" action="https://www.skrill.com/app/pay.pl?action=prepare"
                        class="form-t01 js-confirmation-form" method="POST">

                        <!-- popup -->
                        <div class="blur-mode invoice-blur">
                            <div id="invoiceDetails" class="invoice-info-details">
                                <div class="form-t01 js-confirmation-form">
                                    <div class="blur-mode invoice-blur">
                                        <div class="invoice-info">
                                            <dl class="invoice-info__details">
                                                <div class="invoice-info__item">
                                                    <dt class="invoice-info__dt">Amount</dt>
                                                    <dd class="invoice-info__dd _ltr js-amount">{{currencySign}}
                                                        <!-- {{!depositAmount ? "200" : depositAmount }} -->
                                                        {{depositAmount }}
                                                        <span *ngIf="paymentValue">{{paymentValue}}</span>
                                                    </dd>
                                                </div>
                                                <div class=" invoice-info__item">
                                                    <dt class="invoice-info__dt">Payment method</dt>
                                                    <dd *ngIf="paymentMethod == 'mb' " class="invoice-info__dd _ltr">
                                                        Skrill</dd>
                                                    <dd *ngIf="paymentMethod == 'echp_upi' "
                                                        class="invoice-info__dd _ltr">UPI
                                                    </dd>
                                                </div>
                                                <div class="invoice-info__item">
                                                    <dt class="invoice-info__dt">Trading account</dt>
                                                    <dd class="invoice-info__dd _ltr">{{accountDetailsList?.account_id}}
                                                    </dd>
                                                </div>

                                                <div class="invoice-info__item js-wallet-row" style="display: none;">
                                                    <dt class="invoice-info__dt">Adding money to</dt>
                                                    <dd class="invoice-info__dd">Wallet</dd>
                                                </div>
                                            </dl>
                                        </div>
                                        <input type="hidden" name="pay_to_email" mailto:value="app.engear@gmail.com">
                                        <input type="hidden" name="pay_from_email" value="null">
                                        <span *ngIf="paymentValue">
                                            <input type="hidden" name="amount" value="{{paymentValue}}">
                                        </span>
                                        <span *ngIf="depositAmount">
                                            <input type="hidden" name="amount" value="{{depositAmount}}">
                                        </span>
                                        <input type="hidden" name="currency" value="{{accountDetailsList?.currency}}">
                                        <input type="hidden" name="recipient_description" value="Octa Markets Inc">
                                        <input type="hidden" name="language" value="EN">
                                        <input type="hidden" name="detail1_description" value="Description">
                                        <input type="hidden" name="transaction_id" value="20725845">
                                        <input type="hidden" name="payment_methods" value="">
                                        <input type="hidden" name="detail1_text"
                                            value="Deposit to OctaFX, account no.46429058">
                                        <input type="hidden" name="country" value="IND">
                                        <input type="hidden" name="address" value="{{address}}">
                                        <input type="hidden" name="address2" value="">
                                        <input type="hidden" name="city" value="{{city}}">
                                        <input type="hidden" name="phone_number" value="{{pCode}} {{phone}}">
                                        <input type="hidden" name="cancel_url"
                                            value="https://my.octafx.com/billing/public/return/common/mb/fail-result/">
                                        <input type="hidden" name="return_url"
                                            value="https://my.octafx.com/billing/public/return/common/mb/success-result/">
                                        <input type="hidden" name="status_url"
                                            value="https://smartapproute.com/paysystem-endpoint/callback/mb/">
                                        <input type="hidden" name="__legacyRedirectPaymentUrl"
                                            value="https://pay.skrill.com/">
                                        <input type="hidden" name="__legacyRedirectTransactionId" value="20725845">
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="isShowNotifyBox">
                                <app-mastercard-dialog></app-mastercard-dialog>
                            </div>
                            <div class="row mt-4">
                                <div class="col-sm-12">
                                    <div id="depositBtn" class="d-flex justify-content-end align-items-center base-btn">
                                        <button type="submit" class="btn btn-blue"
                                            (click)="addNewDeposit()">Confirm</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <h3>Click Here! to go CCAvenue</h3>
                    <ng-container>
                        <button mat-button (click)="onPost()">
                            Checkout Payment Gateway
                        </button>
                    </ng-container>

                    <form #form ngNoForm method="post" name="form"
                        action="https://test.ccavenue.com/transaction/transaction.do?command=initiateTransaction"
                        target="_blank">
                        <input type="hidden" id="encRequest" name="encRequest" value="{{ encRequestRes }}" />
                        <input type="hidden" name="access_code" id="access_code" value="{{ accessCode }}" />
                    </form>

                    <!-- <form action="https://pay.skrill.com" method="post" target="_blank">
                        <input type="hidden" name="pay_to_email" mailto:value="app.engear@gmail.com">
                        <input type="hidden" name="status_url" value="https://example.com/
                       process_payment.cgi">
                        <input type="hidden" name="language" value="EN">
                        <input type="hidden" name="amount" value="39.60">
                        <input type="hidden" name="currency" value="GBP">
                        <input type="hidden" name="detail1_description" value="Description:">
                        <input type="hidden" name="detail1_text" value="Romeo and Juliet (W. 
                       Shakespeare)">
                        <input type="submit" value="Pay!">
                    </form> -->
                    <!-- <div class="row">
                        <div class="col-sm-12">
                            <div class="d-flex justify-content-end align-items-center base-btn">
                                <button type="submit" class="btn btn-blue" (click)="addNewDeposit()">Confirm</button>
                            </div>
                        </div>
                    </div> -->

                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isShowBTC" class="container">
        <app-bitcoin-dialog></app-bitcoin-dialog>
    </div>
</main>