.main-box {
    padding: 24px;
}
.deposit {
    .form-wrapper-inner {
        padding-bottom: 20px;

        .radio-box-container {
            display: flex;
            flex-flow: row wrap;
            margin-left: -7px;
            margin-right: -7px;
            margin-bottom: -14px;
            .col-md-4 {padding: 6px;}
        }
        .radio-box-img {
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            // width: calc(33.33% - 7px * 2);
            border-radius: 3px;
            border: 1px solid #eaeaea;
            padding: 8px 16px;
            // padding-right: 8px;
            margin: 0;
            cursor: pointer;
            position: relative;
            background-color: #f6f6f6;
            transition-property: background-color, border-color, box-shadow;
            transition-duration: 0.2s;
            min-height: 60px;
            height: 100%;

            &[disabled] {
                cursor: default;
            }

            &.active {
                border-color: #c99c3b;
                box-shadow: inset 0 0 0 1px #c99c3b;
                background-color: #fff;
                border-radius: 4px;
            }
        }
        .radio-box-img-input {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            cursor: pointer;
            width: 100%;
            height: 100%;
            &:disabled {
                cursor: default;
            }
        }
        .radio-box-img-ico {
            display: block;
            height: auto;
            max-width: 100%;
            flex-shrink: 0;
        }
        .radio-box-img-text {
            color: #000;
            margin-left: 8px;
            font-size: 12px;
            letter-spacing: 0.15px;
            line-height: 14px;
        }
        .radio-box-img-input:disabled + .radio-box-img-ico {
            opacity: 0.5;
        }
        .radio-box-img[disabled="disabled"] .radio-box-img-text {
            opacity: 0.5;
        }
        .list-commission {
            flex-wrap: wrap;
            font-size: 12px;
            text-transform: uppercase;
            margin: 16px 0;
            padding: 0;

            .list-item {
                padding-left: 32px;
                background-repeat: no-repeat;
                background-image: url("../../../assets//images/blue-icon.svg");
                background-position: left top;
                min-height: 20px;
                line-height: 20px;
                &:not(:last-of-type) {
                    margin-right: 32px;
                }
            }
        }
        .promo-bonuses-container {
            .bonuses-advantages {
                display: block;
                cursor: pointer;
                border: 1px solid #d3d3d4;
                border-radius: 5px;
                box-shadow: none;

                .bonuses-advantages-list {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    cursor: default;
                    margin: 10px 0 0;
                    transition: all 0.3s ease-in-out;

                    .bonuses-advantages-listitem {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        width: 47%;
                        margin: 0 0 7px;
                        padding: 9px 0 16px;

                        &:nth-child(1),
                        &:nth-child(2) {
                            border-bottom: solid 1px #e9e9e9;
                        }
                        .bonuses-advantages-listicon {
                            display: block;
                            flex: 0 0 48px;
                            width: 48px;
                            height: 48px;
                            margin-right: 8px;
                            overflow: hidden;
                        }
                        .bonuses-advantages-listtitle {
                            font-size: 14px;
                            font-weight: 400;
                            color: #000;
                            letter-spacing: 0.035em;
                            line-height: 1.3;
                        }
                        .bonuses-advantages-listdescr {
                            font-size: 12px;
                            margin-top: 5px;
                            color: #848b9d;
                        }
                    }
                }
            }

            .promo-bonuses {
                border: 1px solid #d3d3d4;
                border-radius: 5px;
                margin-top: 24px;
                margin-bottom: 24px;
                overflow: hidden;
                box-shadow: none;
                .mat-expansion-panel-header {
                    height: auto;
                }
                .promoinput {
                    display: none;
                }
                .promotext {
                    padding-left: 8px;
                    color: #000;
                    font-size: 14px;
                }
                .promoico {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    width: 16px;
                    height: 16px;
                    min-width: 16px;
                    border: 2px solid #000;
                    background-position: center;
                    background-repeat: no-repeat;
                    transition: all 80ms;
                }
                .promoicoradio {
                    border-radius: 50%;
                }
                .promoicocheckbox,
                .promoicoradio {
                    width: 16px;
                    height: 16px;
                    min-width: 16px;
                }
                .promoinput:checked ~ .promoicocheckbox,
                .promoinput:checked ~ .promoicoradio {
                    border-color: #c99c3b;
                }
                .promoicoradio::before {
                    content: "";
                    width: 8px;
                    height: 8px;
                    background: #c99c3b;
                    left: 2px;
                    top: 2px;
                    -webkit-transform: scale(0);
                    transform: scale(0);
                    border-radius: 50%;
                }
                .promoicocheckbox {
                    border-radius: 4px;
                }
                .promoicocheckbox::before {
                    content: "";
                    -webkit-transform: scale(0);
                    transform: scale(0);
                    width: 16px;
                    height: 16px;
                    transition: -webkit-transform 80ms;
                    transition: transform 80ms;
                    transition: transform 80ms, -webkit-transform 80ms;
                }
                .promoinput:checked ~ .promoicocheckbox::before {
                    background: #c99c3b;
                    background-image: url("/../../../assets/images/checkbox.svg");
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .promoinput:checked ~ .promoicocheckbox::before,
                .promoinput:checked ~ .promoicoradio::before {
                    -webkit-transform: scale(1);
                    transform: scale(1);
                }

                .promo-header {
                    padding-top: 16px;
                    padding-bottom: 16px;
                    display: block;
                    // cursor: pointer;
                    position: relative;

                    .promo-header-text {
                        margin-bottom: 16px;
                        padding-right: 220px;
                        // padding-left: 16px;
                        color: #b0b0b0;
                        line-height: 18px;
                        font-size: 16px;
                        transition: all 0.2s ease-in-out;
                        position: relative;
                        display: flex;
                        align-items: center;
                        margin-top: 15px;
                        cursor: pointer;
                    }
                    .promo-bonuses-header-switcher {
                        cursor: pointer;
                        height: 100%;
                        // margin-left: 16px;
                        line-height: 14px;
                    }
                }
                .promo-bonuses-img-container {
                    max-width: 210px;
                    position: absolute;
                    // z-index: -1;
                    top: 0;
                    right: 0;
                    -webkit-filter: grayscale(0);
                    filter: grayscale(0);
                    opacity: 1;
                    // -webkit-filter: grayscale(100%);
                    // filter: grayscale(100%);
                    // opacity: .3;
                    transition: all 0.2s ease-in-out;
                }
                .promo-bonuses-list {
                    margin: 0;
                    position: relative;
                    z-index: 1;

                    .promo-bonuses-list-item {
                        border-bottom: 1px solid #e9e9e9;
                        margin: 0;
                        position: relative;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .promo-bonuses-list-item-switcher {
                            cursor: pointer;
                            flex-wrap: wrap;
                            padding: 14px 16px;
                            position: relative;
                            display: flex;
                            align-items: center;
                            &:first-child {
                                margin-top: 0;
                            }

                            .promoline {
                                display: flex;
                                align-items: center;
                                cursor: pointer;
                                width: 100px;
                            }
                        }
                    }
                }
                .promo-bonuses-counting {
                    text-align: right;

                    .promo-bonuses-counting-text {
                        color: #a6a8a9;
                        padding: 16px;
                        font-size: 12px;
                        text-align: right;

                        .promo-bonuses-counting-data {
                            font-weight: 400;
                            line-height: 1.2;

                            &.new {
                                color: #000;
                                font-size: 16px;
                                padding-left: 16px;
                            }
                        }
                    }
                }
            }
        }

        .base-btn {
            .skip-link {
                font-size: 12px;
                text-transform: uppercase;
                font-weight: 500;
                padding: 13px 24px;
                color: #c99c3b !important;
                @media (min-width: 1025px) {
                    padding-top: 16px;
                    padding-bottom: 16px;
                    font-size: 16px;
                }

                &:hover {
                    color: #c99c3b;
                }
            }
            .btn-blue {
                font-size: 16px;
                text-transform: uppercase;
            }
        }
    }
    .account-box-selector {
        width: 100%;
        min-width: 280px;
        max-width: 400px;
        margin-bottom: 40px;

        input {
            height: 30px;
            padding: 0 9px;
            background: #fff;
            border: #c6c6c6 solid 1px;
            border-radius: 0;
        }

        .form-element-item {
            width: 100%;
            position: relative;
            max-width: 360px;
            .form-element-multiselect {
                position: relative;

                .multiselect {
                    box-sizing: content-box;
                    display: block;
                    position: relative;
                    width: 100%;
                    min-height: 40px;
                    text-align: left;
                    color: #35495e;
                    cursor: pointer;
                    // @media (min-width: 769px) {
                    // 	width: 220px;
                    // }
                    .multiselect__select {
                        position: absolute;
                        width: 40px;
                        height: 38px;
                        right: 1px;
                        top: 1px;
                        padding: 4px 8px;
                        text-align: center;
                        transition: -webkit-transform 0.2s ease;
                        transition: transform 0.2s ease;
                        transition: transform 0.2s ease, -webkit-transform 0.2s ease;
                        background-image: url("../../../assets/images/icon/down.svg");
                        background-repeat: no-repeat;
                        background-position: center;
                        &::before {
                            position: relative;
                            right: 0;
                            top: 65%;
                            color: #999;
                            margin-top: 4px;
                            border-color: #999 transparent transparent;
                            border-style: solid;
                            border-width: 5px 5px 0;
                            content: "";
                            width: 24px;
                            height: 24px;
                            border: none;
                        }
                    }
                    .multiselect-tags {
                        padding-left: 16px;
                        padding-top: 0;
                        border: 1px solid #ccc;
                        border-radius: 4px !important;
                        display: flex;
                        align-items: center;
                        flex-grow: 1;
                        min-height: 40px;
                        padding: 0 40px 0 8px;
                        border-radius: 5px;
                        background: #fff;
                        font-size: 14px;

                        &.show .multiselect__select {
                            transform: rotate(180deg);
                            -webkit-transform: rotate(180deg);
                            -moz-transform: rotate(180deg);
                            -ms-transform: rotate(180deg);
                            -o-transform: rotate(180deg);
                        }
                    }
                    .account-selector-list-item {
                        display: flex;
                        font-size: 14px;
                        align-items: center;
                    }
                    .real-div {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        div {
                            background-color: #c99c3b;
                            color: #fff;
                            font-size: 10px;
                            font-weight: 500;
                            padding: 1px 10px;
                            border-radius: 2px;
                        }
                    }
                    .demo-div {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        div {
                            background-color: #00c94c !important;
                            color: #fff;
                            font-size: 10px;
                            font-weight: 500;
                            padding: 1px 10px;
                            border-radius: 2px;
                        }
                    }
                    .account-selector__balance {
                        margin-left: auto;
                        text-align: right;
                    }
                    .mt5-logo {
                        font-size: 13px;
                        font-weight: bold;
                        color: #383d50;
                        margin: 0 10px;
                        span {
                            color: #f38749;
                        }
                    }
                }
            }
            .multiselect-content-wrapper {
                border-top: 1px solid #e8e8e8;
                padding: 0;
                background-color: #fff;

                .multiselect__element {
                    display: block;
                    padding: 0;
                    text-decoration: none;

                    .multiselect__option {
                        color: #050f2c;
                        font-size: 14px;
                        font-weight: 500;
                        font-family: Roboto, Helvetica, Arial, sans-serif;
                        // padding-left: 16px;
                        padding-top: 0;
                        padding-bottom: 0;
                        white-space: normal;
                        padding-top: 4px;
                        padding-bottom: 4px;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                    }
                    .account-selector-list-item {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        padding: 4px 13px 4px 13px;
                        margin: 4px 0;
                        min-height: 40px;
                        &:hover {
                            background: #cfe2fe;
                        }
                    }
                    .account-selector-list-btn {
                        display: block;
                        width: 100%;
                        background: #c99c3b;
                        color: #fff !important;
                        text-align: center;
                        font-size: 12px;
                        border-radius: 0 0 4px 4px;
                        text-decoration: none;
                        padding: 12px 0;
                        border: none;
                        box-shadow: none;
                        font-weight: 500;
                    }
                }
            }
        }
        .select-trade-platform-list__logo-image {
            width: 42px;
            height: 14px;
        }
        .select-trade-platform-list__icon {
            width: 22px;
            height: 14px;
            fill: #000;
        }
    }
    .warning-msg {
        color: #4d4d4d;
        font-size: 14px;
        line-height: 1.3;
        margin-bottom: 32px;
        margin-left: auto;
        margin-right: auto;
    }
    .panel {
        margin-bottom: 24px;
        border: 1px solid #cacaca;
    }
    // .inline-box-deposit {
    //     display: flex;
    //     align-items: center;
    //     flex-wrap: wrap;
    //     margin-bottom: 24px;
    // }
    // .amount-selector__change_area {
    //     margin-bottom: 10px;
    // }
    .inline-box-deposit__text {
        margin: 10px 0;
        margin-right: 24px;
        font-size: 14px;
    }
    // .styled-switcher {
    //     margin: 0;
    //     border: 1px solid #cacaca;
    //     border-radius: 2px;
    //     padding: 3px;
    //     display: flex;
    //     list-style: none;
    // }
    // .styled-switcher._v2 .styled-switcher__item.selected {
    //     background: #0d6ffb;
    //     color: #fff;
    // }
    // .styled-switcher._v2 .styled-switcher__item {
    //     color: #0d6ffb;
    // }
    // .styled-switcher__item.selected {
    //     font-weight: 500;
    //     background: #0d6ffb;
    //     color: #fff;
    //     z-index: 2;
    // }
    // .styled-switcher__item {
    //     color: #0d6ffb;
    //     padding: 8px 16px;
    //     cursor: pointer;
    //     border-radius: 2px;
    //     font-weight: 500;
    //     letter-spacing: 0.18px;
    //     transition: all 0.2s ease-in-out;
    //     font-size: 14px;
    //     position: relative;
    //     margin: 0;
    // }
    // ul li {
    //     margin: 8px 0;
    // }
    // .demo_class {
    //     background-color: #00c94c !important;
    // }
    .example-margin {
        margin: 10px 20px;
    }
    .error-msg {
        font-size: 13px;
        color: #f64439;
        margin: 20px 10%;
        background-color: transparent;
        padding: 0;
        text-align: center;
    }
    .form-t01 {
        color: #4a4a4a;
        box-sizing: border-box;
    }
    .blur-mode._invoice-blur {
        margin-left: -24px;
        margin-right: -24px;
        margin-bottom: -24px;
    }
    .blur-mode {
        position: relative;
    }
    .blur-mode._invoice-blur .invoice-info {
        background: 0 0;
        // margin-bottom: 0;
        padding-top: 0;
    }
    .invoice-info._v2 {
        border: none;
        background-color: #fafafa;
        border-radius: 0;
        margin-left: -24px;
        margin-right: -24px;
        padding-left: 24px;
        padding-right: 24px;
    }
    .invoice-info {
        padding: 5px 15px;
        margin-bottom: 40px;
        border: 1px solid #cacaca;
        border-radius: 4px;
    }
    .invoice-info._v2 .invoice-info__details,
    .invoice-info._v2 .invoice-info__title {
        padding: 15px 24px;
        background-color: #fafafa;
    }
    .blur-mode__subject {
        will-change: filter, background;
        transition: background 0.5s, -webkit-filter 0.5s;
        transition: filter 0.5s, background 0.5s;
        transition: filter 0.5s, background 0.5s, -webkit-filter 0.5s;
    }
    .invoice-info._v2 .invoice-info__item {
        align-items: baseline;
        border-top-color: #ddd;
        flex-wrap: wrap;
    }
    .invoice-info__item {
        display: flex;
        width: 100%;
        min-height: 30px;
    }
    .invoice-info._v2 .invoice-info__dt {
        text-transform: none;
        padding-left: 0;
        padding-top: 12px;
        padding-bottom: 12px;
        color: #858585;
    }
    .invoice-info__dt {
        font-size: 14px;
        flex: 1 0 55%;
        padding: 8px 5px 0;
        margin: 0;
        vertical-align: top;
        text-transform: uppercase;
        line-height: 1.2;
        color: #9b9b9b;
    }
    .invoice-info._v2 .invoice-info__dd {
        text-align: right;
        font-size: 14px;
        font-weight: 400;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 0;
    }
    .invoice-info__dd {
        font-size: 20px;
        font-weight: 300;
        flex: 1 0 45%;
        padding: 3px 5px;
        margin: 0;
        vertical-align: top;
        line-height: 1.2;
        color: #000;
        word-break: break-word;
    }.invoice-info._v2 .invoice-info__item {
        align-items: baseline;
        border-top-color: #ddd;
        flex-wrap: wrap;
    }
    .invoice-info__item:not(:first-of-type) {
        border-top: 1px solid #cacaca;
    }
    .invoice-info__item {
        display: flex;
        width: 100%;
        min-height: 30px;
    }
    .form-deposit-text {
        margin: 10px 0;
        margin-right: 24px;
        font-size: 14px;
    }
    .cntrl {
        // width: 100%;

        .switcher {
            border: 1px solid #cacaca;
            border-radius: 2px;
            padding: 3px;
            display: flex;
            .switcher-item {
                cursor: pointer;
                position: relative;
                margin: 0;

                .switcher-radio {
                position: absolute;
                bottom: 100%;
                right: 100%;
                visibility: hidden;
                opacity: 0;
                }
                .switcher-label {
                font-size: 14px;
                font-weight: 500;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px 16px;
                cursor: pointer;
                color: #c99c3b;
                border-radius: 2px;
                transition: all 0.1s ease-out;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                -ms-border-radius: 2px;
                -o-border-radius: 2px;
                -webkit-transition: all 0.1s ease-out;
                -moz-transition: all 0.1s ease-out;
                -ms-transition: all 0.1s ease-out;
                -o-transition: all 0.1s ease-out;
}

                .switcher-radio:checked + .switcher-label {
                cursor: default;
                background: #c99c3b;
                color: #fff;
                }
            }
        }
      }
}

// popup
.blur-mode {
    position: relative;
    .blur-mode-subject {
        -webkit-filter: blur(8px);
        filter: blur(8px);
        will-change: filter,background;
    transition: background .5s,-webkit-filter .5s;
    transition: filter .5s,background .5s;
    transition: filter .5s,background .5s,-webkit-filter .5s;
    padding: 15px 24px;
    }

.notice-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    &.active {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 2;
        -webkit-transform: translate3d(0,20%,0);
        transform: translate3d(0,20%,0);
        will-change: transform,opacity;
        transition: opacity .5s ease-in-out,-webkit-transform .5s ease-in-out;
        transition: opacity .5s ease-in-out,transform .5s ease-in-out;
        transition: opacity .5s ease-in-out,transform .5s ease-in-out,-webkit-transform .5s ease-in-out;
    }
    &.show {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    .wrapper {
        background: #fff;
        box-shadow: 10px 10px 30px rgb(137 145 167 / 15%), -3px 0 5px rgb(137 145 167 / 5%);
        border-radius: 8px;
        width: 100%;
        max-width: 600px;
        position: relative;
        padding: 24px;
        .head {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            .pulse-warning {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 56px;
                height: 56px;
                position: relative;
                flex-shrink: 0;
                margin-bottom: 16px;

                &::before,&::after {
                    content: '';
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index: 1;
                    -webkit-animation-duration: 2s;
                    animation-duration: 2s;
                    -webkit-animation-iteration-count: infinite;
                    animation-iteration-count: infinite;
                    -webkit-animation-timing-function: ease-in-out;
                    animation-timing-function: ease-in-out;
                }
                &::before {
                    background-color: rgba(246,68,57,.15);
                    -webkit-animation-name: shadowCircle;
                    animation-name: shadowCircle;
                }
                &::after {
                    background-color: rgba(246,68,57,.25);
                    width: 44px;
                    height: 44px;
                    -webkit-animation-name: shadowCircle;
                    animation-name: shadowCircle;
                }
                .icon {
                    background: url('../../../assets/images/icon/ico-warning-shadow_red.svg') center center/contain no-repeat;
                    width: 32px;
                    height: 32px;
                    -webkit-animation-name: pulseActionIco;
                    animation-name: pulseActionIco;
                    -webkit-animation-duration: 2s;
                    animation-duration: 2s;
                    -webkit-animation-iteration-count: infinite;
                    animation-iteration-count: infinite;
                    position: relative;
                    z-index: 2;
                }
                .water-circle {
                    content: '';
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    opacity: 1;
                    box-shadow: 0 0 0 1px rgb(246 68 57 / 70%);
                    -webkit-animation-name: waterCircle;
                    animation-name: waterCircle;
                    -webkit-animation-iteration-count: infinite;
                    animation-iteration-count: infinite;
                    -webkit-animation-duration: 2s;
                    animation-duration: 2s;
                    &:nth-child(2) {
                        width: 110px;
                        height: 110px;
                    }
                    &:nth-child(3) {
                        width: 90px;
                        height: 90px;
                    }
                    &:nth-child(4) {
                        width: 70px;
                        height: 70px;
                    }
                }
                
            }
        }
    }
    .title {
        margin: 0;
        color: #000;
        line-height: 1.3;
        font-weight: 600;
        font-size: 16px;
    }
    .show-more {
        display: none;
    }
    .close {
        background-image: url('../../../assets/images/icon/close.svg');
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 12px;
        right: 12px;
        padding: 0;
        border: 0;
    }
    .body {
        margin-left: auto;
        margin-right: auto;
        max-width: 510px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: hidden;
        opacity: 1;
        transition: max-height .7s,opacity .7s;
        will-change: max-height,opacity;
    }
    .list {
        width: 100%;
        margin: 0;
        .list-item.accent {
            margin: 20px 0;
            color: #000;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.5;
            display: flex;

            .notification-point-icon {
                width: 24px;
                height: 24px;
                margin-right: 12px;
                position: relative;
                top: -4px;
                flex-shrink: 0;
                // .notification-point-image {
                //     width: 100%;
                //     height: 100%;
                // }
            }
            .notification-point-title {
                display: block;
                strong {
                    font-weight: 500;
                }
            }

            
        }
        
    }
    .button {
        flex-shrink: 0;
        margin: 20px auto 0;
        width: 166px;
        justify-content: center;
    }

}
}

@keyframes pulseActionIco {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    
    15% {
        -webkit-transform: scale(.93);
        transform: scale(.93);
    }
    60% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    70% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    80% {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }
}

@keyframes waterCircle {
    0% {
        -webkit-transform: scale(.1);
        transform: scale(.1);
        opacity: 1;
    }
    
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}