<main>
	<!-- live chat -->
	<button class="live-chat-button" data-auto-event-category="UXclick" data-auto-event-action="Support click"
		data-auto-event-label="livechat">
		<span class="live-chat-button__label">Live chat support</span>
	</button>

	<section class="login dashboard pb-3">
		<div class="container">
			<div class="row align-items-center main-box justify-content-center w-100 mx-0">
				<div class="col-xl-12 col-md-12 col-lg-12 px-0">
					<div class="banner">
						<a class="banner-link" href="#">
							<div class="banner-container">
								<div class="banner-head">
									<div class="banner-title">3 steps</div>
									<div class="banner-subtitle">to start trading</div>
								</div>
								<div class="banner-body">
									<div class="banner-list">
										<div class="banner-list-item">
											<div class="banner-circle anim anim-circle1">
												<img src="../../../assets/images/1-step.png" class="banner-icon" alt="">
											</div>
											<div class="banner-descr anim anim-descr1">Create a trading account</div>
										</div>
										<!-- <div class="banner-list-item">
											<div class="banner-circle anim anim-circle2">
												<img src="../../../assets/images/2-step.png" class="banner-icon" alt="">
											</div>
											<div class="banner-descr anim anim-descr2">Download trading software</div>
										</div>
										<div class="banner-list-item">
											<div class="banner-circle anim anim-circle3">
												<img src="../../../assets/images/3-step.png" class="banner-icon" alt="">
											</div>
											<div class="banner-descr anim anim-descr3">Verify and make<br>a deposit</div>
										</div> -->
									</div>
								</div>
								<!-- <div class="idn-banner-btn anim anim-btn">Learn</div>						 -->
							</div>
						</a>
					</div>
					<div class="account-box">
						<header class="account-box-header">
							<div class="account-box-title">
								<div class="account-box-title-name">
									<h2 class="heading account-box-v1__heading _clear">My accounts</h2>
								</div>
								<p>This is a list of all your accounts at MobiFX. You can view the main account details here and track
									your activities. You can also deposit your account from here.</p>
							</div>
						</header>
					</div>
					<div class="account-tab">
						<mat-tab-group>
							<mat-tab label="REAL (1)">
								<button mat-button color="primary">
									Open new real account
								</button>
							</mat-tab>
							<mat-tab label="CONTESTS (0)">
								<button mat-button color="primary">
									Open new new contest account (MobiFX-champion)
								</button>
								<p>You don`t have demo contest accounts yet.</p>
							</mat-tab>
							<mat-tab label="DEMO (0)">
								<button mat-button color="primary">
									Open new new demo account
								</button>
								<p>You don`t have demo accounts yet.</p>
							</mat-tab>
							<mat-tab label="CLOSED (0)">
								<p class="closed-account">You don`t have closed accounts yet.</p>
							</mat-tab>
						</mat-tab-group>
					</div>
					<div class="account-table">
						<div class="account-heading">
							<div>My accounts</div>
						</div>
						<div class="table-responsive table-detail">
							<table class="table simple-table table-striped">
								<thead>
									<tr>
										<th></th>
										<th class="text-left">Account</th>
										<th class="text-left">Type</th>
										<th class="text-left">Server</th>
										<th class="text-right">Balance</th>
										<th class="text-right">Equity</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<div class="mt5-logo">MT<span>5</span></div>
										</td>
										<td class="action-dropdown">
											<span>46357357</span>
											<div class="dropdown">
												<div class="triangle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
													aria-expanded="false">▼</div>
												<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
													<a href="#">Switch to this account</a>
													<a href="#">Restore password</a>
													<a href="#">Hide account from the main page</a>
													<a href="#">Deposit</a>
													<a href="#" class="js-account-list-withdrawal-item-menu">Withdrawal</a>
													<a href="#">Trades history</a>
													<a target="_blank" href="#">Log in to MT5 Web</a>
												</div>
											</div>
										</td>
										<td class="action-type">
											<div class="real-div">
												<div>REAL</div>
											</div>
										</td>
										<td>
											MobiFX-Real2
										</td>
										<td style="text-align:right">
											<span class="fix-ltr">$0.00</span>
										</td>
										<td style="text-align:right">
											<span class="fix-ltr">$0.00</span>
										</td>
										<td style="width:170px;" class="_wrap _left"></td>
									</tr>
									<tr>
										<td>
											<div class="mt5-logo">MT<span>5</span></div>
										</td>
										<td class="action-dropdown">
											<span>46357357</span>
											<div class="dropdown">
												<div class="triangle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
													aria-expanded="false">▼</div>
												<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
													<a href="#">Switch to this account</a>
													<a href="#">Restore password</a>
													<a href="#">Hide account from the main page</a>
													<a href="#">Deposit</a>
													<a href="#" class="js-account-list-withdrawal-item-menu">Withdrawal</a>
													<a href="#">Trades history</a>
													<a target="_blank" href="#">Log in to MT5 Web</a>
												</div>
											</div>
										</td>
										<td class="action-type">
											<div class="real-div">
												<div>REAL</div>
											</div>
										</td>
										<td>
											MobiFX-Real2
										</td>
										<td style="text-align:right">
											<span class="fix-ltr">$0.00</span>
										</td>
										<td style="text-align:right">
											<span class="fix-ltr">$0.00</span>
										</td>
										<td style="width:170px;" class="_wrap _left"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>