<main>
	<!-- live chat -->
	<app-chat-box></app-chat-box>

	<section class="login dashboard pb-3">
		<div class="container">
			<div class="row align-items-center main-box justify-content-center w-100 mx-0">
				<div class="col-xl-12 col-md-12 col-lg-12 px-0">
					<div class="account-box">
						<header class="account-box-header">
							<div class="account-box-title">
								<div class="account-box-title-name">
									<h2 class="heading account-box-v1__heading _clear">MobiFX real forex accounts monitoring system</h2>
								</div>
								<p>Here you can view your accounts available for monitoring and already monitored accounts. You can also
									manage your monitoring here.
								</p>
							</div>
						</header>
					</div>
					<div class="account-table">
						<div class="account-heading">
							<div>Your available accounts</div>
						</div>
						<div class="table-responsive table-detail">
							<table class="table simple-table table-striped">
								<thead>
									<tr>
										<th class="text-left">Account</th>
										<th class="text-left">Server</th>
										<th class="text-left">Type</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td colspan="5">No records found</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="account-table">
						<div class="account-heading">
							<div>Your monitored accounts</div>
						</div>
						<div class="table-responsive table-detail">
							<table class="table simple-table table-striped">
								<thead>
									<tr>
										<th class="text-left">Account</th>
										<th class="text-left">Server</th>
										<th class="text-left">Type</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td colspan="5">No records found</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>