/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: "Roboto", sans-serif !important;
    overflow-x: hidden;
    background-color: #e9ebf1 !important;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";

a {
    color: #c99c3b;
    text-decoration: none;
}
a:hover {
    color: #c99c3b;
    text-decoration: none;
}
.btn-check:focus + .btn,
.btn:focus {
    box-shadow: none !important;
}
.main-box {
    margin-top: 44px;
    padding: 35px 35px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 5px;
}
.right-side {
    display: flex;
    justify-content: flex-start;
    // justify-content: center;
    width: 73%;
}
#header .logo {
    width: 200px;
}
.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:hover,
.dropdown-item:focus {
    background-color: transparent;
}
.mat-select-placeholder,
.mat-select-value {
    color: #050f2c;
}
.mat-select-trigger::after {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    right: -10px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 0;
    background-image: url("assets/images/icon/down.svg");
}
.mat-select-arrow-wrapper {
    display: none !important;
}
.mat-tab-label {
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    background-color: #f9f8f3;
    color: #434343;
    transition: all 0.2s;
    border-width: 3px 0;
    border-top-color: #f9f8f3;
    border-bottom-color: #e3e2dd;
    border-style: solid;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    white-space: nowrap;
    margin-right: 4px;
    opacity: 1 !important;
}
.mat-tab-label-active {
    color: #fff;
    background: #e3b146;
    border-top-color: #e6c988;
    border-bottom-color: transparent;
}
.mat-tab-header {
    border-bottom: 3px solid #c99c3b;
}
.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: transparent;
    opacity: 0;
}
.heading {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    line-height: 1;
    color: #000;
    font-weight: 500;
    font-size: 20px;

    &.h1 {
        font-size: 24px;
    }
}
.infotext {
    margin-bottom: 20px;
    color: #999;
    line-height: 18px;
}
.mat-progress-spinner {
    width: 50px !important;
    height: 50px !important;
}

.mat-progress-spinner svg {
    width: 50px !important;
    height: 50px !important;
}

.mat-progress-spinner circle {
    stroke: #c99c3b !important;
}

.verification .mat-form-field {
    width: 360px;
}

.verification .leverage-select .mat-form-field {
    width: 100%;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
    width: 360px;
    height: 40px;
    padding: 0;
    line-height: normal;
}
.reset-password-tab .mat-form-field-type-mat-select.mat-form-field-appearance-outline .mat-form-field-infix {
    width: 120px;
    height: 40px;
}

.verification .leverage-select .mat-form-field-appearance-outline .mat-form-field-infix {
    width: 100%;
    height: 35px;
    padding: 0;
    line-height: normal;
}

// .verification .mat-select-trigger {
//     height: 40px;
// }

// .verification .leverage-select .mat-select-trigger {
//     height: 35px;
// }

.mat-form-field-label-wrapper {
    display: none;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
    padding: 0;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #ccc;
}

.verification .mat-radio-button {
    display: block;
}

.mat-radio-inner-circle,
.mat-radio-outer-circle,
.mat-radio-container {
    width: 16px !important;
    height: 16px !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #c99c3b;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #c99c3b;
}

.tooltip__ico-question {
    width: 12px;
    height: 12px;
    min-width: 12px;
    opacity: 0.5;
    margin: 0 8px;
    transition: all 0.2s ease-in-out;
    display: flex;
}

.mat-expansion-panel .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled="true"]),
.mat-expansion-panel .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled="true"]),
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled="true"]) {
    background: transparent !important;
}

input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: -internal-light-dark(rgb(232, 240, 254), rgba(70, 90, 126, 0.4));
    color: -internal-light-dark(black, white);
}
.mat-form-field-appearance-outline .mat-form-field-infix input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: -internal-light-dark(rgb(232, 240, 254, 0), rgba(70, 90, 126, 0));
    color: -internal-light-dark(black, white);
}

.error-msg {
    margin: 4px 0 4px 0;
    font-size: 12px;
    color: red;
}

.mat-expansion-panel .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled="true"]),
.mat-expansion-panel .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled="true"]),
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled="true"]) {
    background: transparent !important;
}

.balance-div .mat-form-field-appearance-outline .mat-form-field-flex {
    padding-left: 22px;
}

.verification .form-control {
    width: 360px;
}
.mat-tab-body-content {
    overflow: inherit !important;
}
.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    text-shadow: 0 1px 0 rgb(255 255 255 / 50%);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    font-size: 14px;
    margin-left: 0;
    line-height: 1.2;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.alert-danger,
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
}
.alert-danger,
.alert-danger .alert-heading,
.alert-error,
.alert-error .alert-heading {
    color: #b94a48;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.mat-elevation-z8 {
    box-shadow: none;
}
th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
    padding-left: 0 !important;
}
th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
    padding-right: 0 !important;
}
th.mat-header-cell {
    font-weight: 700;
    font-size: 13px;
    border-bottom: #c99c3b solid 2px !important;
    padding: 4px !important;
    color: #c99c3b;
}
td.mat-cell {
    font-size: 13px;
    padding: 13px 4px 11px !important;
    line-height: 16px;
    color: #464646;
    font-weight: 400;
    text-align: left;
    vertical-align: middle;
}
tr:nth-child(2n) td.mat-cell {
    background: #f9f8f3;
}
.table > :not(:last-child) > :last-child > * {
    border-bottom-color: rgba(0, 0, 0, 0.12);
}
// default button
.btn {
    width: 46%;
    text-align: center;
    justify-content: center;
    max-width: 170px;
    padding-right: 5px;
    padding-left: 5px;
    height: 40px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 24px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    transition-property: background-color, color;
    transition-duration: 0.2s;
    @media (min-width: 769px) {
        padding: 0 5px;
    }
}
.btn-blue {
    background: #c99c3b;
    border-color: #c99c3b;
    color: #fff !important;
    @media (min-width: 769px) {
        width: 100%;
    }

    &:hover {
        background: #9d7622;
        color: #fff;
    }
}
.btn-border-blue {
    border: 1px solid #c99c3b;
    color: #c99c3b;
    &:hover {
        background: #c99c3b;
        color: #fff;
    }
}
.btn-black {
    background: #f2f2f2;
    border-color: #f2f2f2;
    color: #000;
    box-shadow: none;
}
// swiper slider
.simple-card {
    display: flex;
    margin: 18px 0px 40px;
    justify-content: flex-end;

    .acc-type-slide {
        height: auto;
        padding-top: 15px;
        width: 192px;
    }

    .account-type {
        border: 1px solid #e5e5e5;
        transform: scale(0.8);
        cursor: pointer;
        box-shadow: none;
        min-width: 240px;
        width: 100%;
        transition: -webkit-transform 0.1s ease-out;
        transition: transform 0.1s ease-out;
        transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
        &:hover {
            box-shadow: 0 4px 20px rgb(0 0 0 / 10%);
        }
        &.selected {
            border-color: #c99c3b;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    .card-title {
        font-weight: 500;
        font-size: 18px;
        margin: 0;
        padding: 0;
    }
    .advantages {
        list-style: none;
        margin: 0 0 20px;
        padding: 0;

        .item {
            position: relative;
            text-align: left;
            margin-top: 0;
            margin-bottom: 13px;

            .text-wrap {
                display: flex;
                justify-content: space-between;

                .text {
                    font-size: 14px;
                    display: flex;
                    line-height: 1.2;
                    margin-bottom: 3px;
                    color: #333;
                }
                .value {
                    font-size: 14px;
                    display: flex;
                    align-items: flex-end;
                    flex: 1;
                    margin-bottom: 3px;
                    &:before {
                        display: block;
                        flex: 1;
                        width: 10px;
                        height: 1px;
                        margin-bottom: 2px;
                        content: "";
                        border-bottom: 1px dotted #b3b3b3;
                    }
                }
            }
            .descr {
                font-size: 12px;
                margin: 0;
                line-height: 1.2;
                color: #b3b3b3;
            }
        }
    }
}
.swiper-container {
    width: 100%;
    height: 100%;
    position: relative;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 192px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-pagination .swiper-pagination-bullet {
    width: 4px;
    height: 4px;
    margin: 0 2px !important;
    background: #999 !important;
    opacity: 1;
    border-radius: 2px;
}
.swiper-pagination {
    // position: relative;
    // top: 0;
    margin-top: 5px;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 24px;
    background: #999;
}
.swiper-slide.swiper-slide-active {
    width: 240px;
}

.panel .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent;
}
.notice-container .mat-expansion-indicator {
    display: none;
}
.radio-box-img .mat-radio-label {
    height: 100%;
}
.radio-box-img .mat-radio-container {
    width: 100% !important;
    height: 100% !important;
}
