<main>
	<!-- live chat -->
	<button class="live-chat-button" data-auto-event-category="UXclick" data-auto-event-action="Support click"
		data-auto-event-label="livechat">
		<span class="live-chat-button__label">Live chat support</span>
	</button>

	<section class="login dashboard pb-3">
		<div class="container">
			<div class="row align-items-center main-box justify-content-center w-100 mx-0">
				<div class="col-xl-12 col-md-12 col-lg-12 px-0">
					<div class="account-box">
						<header class="account-box-header">
							<div class="account-box-title">
								<div class="account-box-title-name">
									<h2 class="heading account-box-v1__heading _clear">My deposit bonuses</h2>
								</div>
								<p>MobiFX is all about making your trading experience convenient and outstanding, driving forex trading
									to a whole new level. Deposit your account and we will grant you 10% to 50% of your deposit for free!
									This is a perfect way to increase total amount of funds in your account
								</p>
							</div>
						</header>
					</div>
					<div class="account-tab">
						<mat-tab-group>
							<mat-tab label="Available deposit bonuses">
								<p class="closed-account">This is a list of all your available deposit bonuses. Click "Get bonus" to
									receive one</p>
							</mat-tab>
							<mat-tab label="Active and canceled bonuses">
								<p class="closed-account">This is a list of all your received and canceled deposit bonuses. You can
									cancel a bonus here</p>
								<p class="closed-account">Please note that bonus statistics is updated once in an hour. Bonus amount
									will be added to your account balance and become withdrawable automatically within 1-2 hours after
									required volume is completed.</p>
							</mat-tab>
						</mat-tab-group>
					</div>
					<div class="account-table">
						<div class="table-responsive table-detail">
							<table class="table simple-table table-striped">
								<thead>
									<tr>
										<th class="text-left">Deposit</th>
										<th class="text-left">Bonus created</th>
										<th class="text-left">Bonus amount</th>
										<th class="text-right">Account</th>
										<th class="text-right">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td colspan="5">No records found</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>