.dashboard {
	.account-box {
		margin-top: 40px;

		.account-box-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 24px;

			@media (min-width: 769px) {
				display: flex;
				align-items: center;
			}

			.account-box-title {
				align-items: center;
				@media (min-width: 769px) {
					font-size: 24px;
				}
				p {
					font-size: 13px;
				}

				.account-box-title-name {
					margin-bottom: 20px;
					font-size: 24px;
					display: block;
					white-space: nowrap;
					@media (min-width: 769px) {
						display: flex;
						align-items: center;
						margin-bottom: 0;
					}
					.heading {
						box-sizing: border-box;
						padding: 0;
						margin: 0;
						margin-bottom: 25px;
						font-family: Roboto, Helvetica, Arial, sans-serif;
						line-height: 1;
						color: #000;
						font-weight: 500;
						font-size: 20px;
					}
				}
			}
		}
	}
	.account-tab {
		button {
			margin: 15px 0px;
			background: #c99c3b;
			color: white;
		}
		p {
			font-size: 13px;
		}
		.closed-account {
			margin: 10px 0;
		}
	}
	.account-table {
		padding-top: 24px;
		.account-heading {
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 20px;
			font-weight: 500;
			margin-bottom: 24px;
			.btn {
				width: 46%;
				text-align: center;
				justify-content: center;
				max-width: 160px;
				padding-right: 5px;
				padding-left: 5px;
				height: 40px;
				border: none;
				border-radius: 4px;
				text-decoration: none;
				display: flex;
				align-items: center;
				padding: 0 24px;
				font-family: Roboto, Helvetica, Arial, sans-serif;
				font-size: 12px;
				font-weight: 500;
				cursor: pointer;
				transition-property: background-color, color;
				transition-duration: 0.2s;
				@media (min-width: 769px) {
					width: 120px;
					padding: 0 5px;
				}
			}
			.btn-blue {
				background: #c99c3b;
				border-color: #c99c3b;
				color: #fff;
				@media (min-width: 769px) {
					width: 100%;
				}

				&:hover {
					background: #9d7622;
				}
			}
		}
		.table-detail {
			.simple-table {
				border: 0;
				thead {
					border: 0;
					th {
						font-weight: 700;
						font-size: 13px;
						border-bottom: #c99c3b solid 2px;
						padding: 4px;
						color: #c99c3b;
						text-align: center;
						border-top: 0;
						white-space: nowrap;
					}
				}
				tbody {
					td {
						font-size: 13px;
						padding: 13px 4px 11px;
						line-height: 16px;
						color: #464646;
						font-weight: 400;
						text-align: left;
						vertical-align: middle;
						border-bottom: #e5e5e8 solid 1px;
						white-space: nowrap;

						.mt5-logo {
							font-weight: bold;
							color: #383d50;
							span {
								color: #f38749;
							}
						}
						&.action-dropdown {
							display: flex;

							.triangle {
								color: #c99c3b;
								margin-left: 6px;
							}
							.dropdown-menu {
								position: absolute;
								background-color: #f8f8f8;
								border: 2px solid #e0e0e0;
								text-align: left;
								z-index: 3;
								a {
									display: block;
									padding: 10px;
									text-decoration: underline;
									color: #c99c3b;
									font-size: 13px;
								}
							}
						}
						&.action-type {
							.real-div {
								display: flex;
								align-items: center;
								justify-content: flex-start;
								div {
									background-color: #c99c3b;
									color: #fff;
									font-size: 10px;
									font-weight: 500;
									padding: 1px 10px;
									border-radius: 2px;
								}
							}
						}
					}
				}
			}
		}
	}
}
